[2016-03-25 20:25] mcqueary opened #7 "Start time/sequence validation should be "inclusive" vs. "exact""
_From @mcqueary on March 15, 2016 19:14_

See [here](https://github.com/nats-io/stan/blob/master/server.go#L1061-L1070) and [here](https://github.com/nats-io/stan/blob/master/server.go#L1226-L1235) in `server.go`.

As a user, if my `SubscriptionRequest` specifies a time 100 seconds in the past, but the earliest stored message was 80 seconds in the past, I get `stan: invalid start time`. IMO that's

[2016-03-25 20:48] mcqueary opened #8 "Connection Close Handling"
_From @ColinSullivan1 on March 15, 2016 21:18_

When an application crashes, it may not call the STAN Close() function, so STAN will hold the application's clientID as if it were connected.  This leaves STAN in a state where it will prevent a connection with the same ClientID, erroneously indicating it is a duplicate.

I propose we:
a) Add a disconnected alert/advisory from NATS that STAN can list

[2016-03-27 20:19] mcqueary opened #9 "startTimeValid() nil pointer panic"
If the store contains no messages, `cs.msgs.FirstMsg()` and `cs.msgs.LastMsg()` return `nil`, ergo any subscription containing a time or time delta will crash the server:

https://github.com/nats-io/stan-server/blob/master/server/server.go#L1296-L1304 (edited for line number change)

[2016-03-28 01:11] mcqueary opened #10 "Allow last 'N' messages (delta offset)"
This is directly analogous to `TimeDeltaStart` vs. `StartTime`.  The user doesn't know (or care) what the current sequence number is, but wants the last, say, 1000 messages in order to prime e.g. a moving-window time series display. Right now there is no way to do that.

Ideally the user could just enter a negative offset, but that won't work because StartSequence is defined as uint64. Therefore I

[2016-03-28 18:29] ColinSullivan1 opened #12 "Tuning Parameters for Persistence"
Some additional tuning parameters need to be added:
- Maximum number of channels.
- Maximum number of messages.
- Maximum memory/messages per channel.

[2016-03-29 04:37] #9 closed, assigned to ColinSullivan1

[2016-03-30 19:16] mcqueary opened #13 "Add support for Fault Tolerance and High Availability"
Need support for Fault Tolerance and High Availability

- [ ] Shared Storage Fault Tolerance (#263)

[2016-03-30 19:21] mcqueary opened #14 "File-based store"
_From @mcqueary on March 18, 2016 19:14_

We need a file store module.

_Copied from original issue: nats-io/stan#40_

[2016-03-31 18:44] mcqueary opened #16 "Configurable Heartbeat Interval"
_From @ColinSullivan1 on March 16, 2016 22:25_

Server-To-Client heart beats need to be configurable:

Something along the lines of:
- HeartBeatInterval
- HeartBeatTimeout
- HeartBeatMaxFailCount

We should discuss if the server sends the interval in the connect response and the clients behave accordingly, or we require the client to set this explicitly and independently.  IMO sending these to the

[2016-04-04 21:04] mcqueary opened #17 "Add coverage test/badge"

[2016-04-06 23:18] #14 closed, assigned to kozlovic

[2016-04-07 00:29] kozlovic opened #20 "Subscription ID collision after recovery"
FileStore assigns a subscription ID when storing a subscription. However, on recovery, the subscription ID for new subscriptions don't take into account the ids of the subscriptions recovered.

[2016-04-07 16:27] #20 closed, assigned to kozlovic

[2016-04-07 18:39] #17 closed, assigned to nobody

[2016-04-11 20:22] mcqueary opened #28 "Separate STAN and NATS logging configuration"

[2016-04-11 21:27] kozlovic opened #29 "Durables can't reconnect more than once"
Create a durable "mydur"
Stop the application
Restart the application: OK
Stop the application
Restart the application: fails with duplicate durable.

[2016-04-11 21:29] kozlovic opened #30 "Various "Start position" not working when there was no prior message sent or the given position is 0"
If you start a subscriber with start position "Last Received", then send a message on the subject, the subscriber does not receives it.

The issue is that if there is was no message ever sent on that subject, LastSequence() would be 0, and the server tries to get LastSequence() - 1, which because of the use of uint64 makes it the max uint64 value!

UPDATE: This is true for other start positions.

[2016-04-11 21:32] kozlovic opened #31 "Stan clients may be discarded due to timeout after a reconnect"
We changed the HB and Timeout to something like 200ms and 2 seconds, respectively. By default, a NATS client reconnects after 2 seconds. So say that you stop/restart the NATS server (STAN server when NATS is embedded), then when STAN applications reconnect to NATS Server, it may be too late: the STAN server will have purged those clients because of lack of heartbeats.

[2016-04-11 21:35] kozlovic opened #32 "Publisher not failing when limits are reached"
Say that you set some store limits, for instance 1 channel max. Publishing on "foo" works fine. Publishing on "bar should report an error (too many channels). This is not happening.

The reason is that the server acks the publisher _before_ trying to persist the message (where limits are checked).

[2016-04-11 21:37] kozlovic opened #33 "STAN protocol subject names should persist through restart"
When a server is restarted, it gets new subjects for pub/sub/etc... which makes an already "connected" STAN application "fail" publishing new messages since it uses the old subjects, so those messages go nowhere.

[2016-04-11 21:39] kozlovic opened #34 "Persist client state in case of server restart"
As of now, we persist the state only through subscriptions.

The problem is if an application "connects" and before creating its first subscription, the server is restarted, there would be no client state restored, which would cause other actions to fail (create subscriber, etc).

Same goes for STAN applications that would be only publishing: the server would not be able to check the client health

[2016-04-12 15:15] #12 closed, assigned to kozlovic

[2016-04-12 22:29] kozlovic opened #37 "Compact/purge the subscription store from time to time"
The subscription store in the file store implementation overtime will contain information no longer needed. The file should be compacted automatically.

[2016-04-13 18:34] kozlovic opened #39 "Filestore messages limits not correctly applied"
Limits are checked per file (out of the 5) but not based on the total for this store.

[2016-04-13 18:52] kozlovic opened #41 "Durable messages incorrectly redelivered"
Have a durable running with auto-ack and receive new-only.
Send messages 1 and 2.
Restart durable.
Send messages 3 and 4.
Restart durable => it receives messages 3 and 4 as redelivered (EXPECTED: nothing)
Stop durable.
Restart server.
Start durable => it receives messages 3, 4, 1, 2, 3, 4 (EXPECTED: nothing)

[2016-04-13 19:36] #30 closed, assigned to kozlovic

[2016-04-13 21:05] #29 closed, assigned to kozlovic

[2016-04-13 21:08] #32 closed, assigned to kozlovic

[2016-04-14 18:19] #41 closed, assigned to kozlovic

[2016-04-17 01:24] mcqueary opened #44 "natsOpts.BufSize undefined"
Getting the following from my travis build for stan-java-client. Is the master branch of stan-server out of sync with the master branch of gnatsd?

[code]

[2016-04-17 02:34] #44 closed, assigned to kozlovic

[2016-04-19 18:44] mcqueary opened #48 "Reject clientID with embedded whitespace"
clientID should be command-line, URL, filesystem, and JSON-friendly (i.e. not containing special characters that might interfere with using or parsing a clientID in any of these)

[2016-04-19 22:31] mcqueary opened #50 "Fix import paths to match new client repo path"

[2016-04-19 22:58] #50 closed, assigned to mcqueary

[2016-04-20 15:30] #39 closed, assigned to kozlovic

[2016-04-20 16:09] #48 closed, assigned to kozlovic

[2016-04-20 16:17] mcqueary opened #54 "Need comments to document each exported HB-related constant."
https://github.com/nats-io/stan-server/blob/master/server/server.go#L49-L51

[2016-04-21 18:02] kozlovic opened #55 "DATA RACE in performAckExpirationRedelivery"
This is because of tracing, which should be moved in `performRedelivery` so that `sub` fields are accessed under lock. At the same time, I'd like to revisit `performDurableRedelivery` so that it has its own delivery and not use common code in `performRedelivery` which deals with potentially expiration and queue subscribers. Although it would cause some code duplication, it will be much clearer.

[

[2016-04-21 22:25] kozlovic opened #56 "On server restart, old messages should not be redelivered to existing subscribers"
Say a subscriber is running. It receives messages 1 to 100. At this point, the server (with file store) is restarted. On new message, old messages are redelivered. This does not seem to be right.

[2016-04-25 23:19] #34 closed, assigned to kozlovic

[2016-04-27 21:53] #31 closed, assigned to kozlovic

[2016-04-27 22:31] #55 closed, assigned to kozlovic

[2016-04-29 16:26] #33 closed, assigned to kozlovic

[2016-04-29 16:32] mcqueary opened #60 "stan-server version string should be independent of client version string"

[2016-04-29 21:21] ColinSullivan1 opened #62 "Cleanup Logging"
Remove "STAN:" from the individual log lines to instead prefix in the logger.

[2016-05-01 18:04] kozlovic opened #64 "DATA RACE causes by clients.GetSubs() not returning a copy of the subscriptions array"
[code]

[2016-05-02 16:25] #64 closed, assigned to kozlovic

[2016-05-02 16:36] #56 closed, assigned to kozlovic

[2016-05-02 17:34] kozlovic opened #66 "All messages incorrectly marked as redelivered after a server restart"
When a server with FileStore with stored messages is restarted, all messages are marked as redelivered, regardless if they have ever been sent to any subscriber. This is not correct.

Only un-acknowledged messages previously sent to a subscriber should be marked as redelivered.

Test case:
- start server with FileStore
- send 1 msg to "foo"
- start sub on "foo" with DeliverAllAvailable() and SetMa

[2016-05-02 17:49] kozlovic opened #68 "After server restart, messages not automatically delivered to existing subscribers"
When a server with FileStore is restarted, and there are existing subscribers, messages in the log should be delivered automatically. Right now, new message need to be sent to trigger delivery.

[2016-05-02 17:51] kozlovic opened #69 "Durable may not receive new messages"
If a durable starts, then stops, then the server is restarted, the durable will no longer receive messages.

This is introduced by #58.

[2016-05-02 18:00] kozlovic opened #70 "Server persists subscriptions updates for disconnected clients until they time-out"
If an application with a subscriber stops without calling `Close()`, if new messages on the subject are received by the server, their sequence number will be persisted in the channel's subscriptions file. The server will try send those messages, and even attempt to redeliver them (until the first missed heartbeat).

For durables, this is more of an issue because on durable restart, all those messa

[2016-05-02 18:59] #28 closed, assigned to ColinSullivan1

[2016-05-02 18:59] #60 closed, assigned to ColinSullivan1

[2016-05-02 19:45] #66 closed, assigned to kozlovic

[2016-05-03 15:19] #69 closed, assigned to kozlovic

[2016-05-03 15:30] kozlovic opened #72 "Acknowledged msgs sent to queue subscribers may be redelivered after server restart"
Suppose that you have 2 queue subscribers on "foo".
One message is sent, the first queue subscriber receiving it does not acknowledge it.
Message is redelivered to second queue subscriber which acknowledges it.
Server is restarted.
The message is going to be redelivered.

[2016-05-05 16:25] kozlovic opened #77 "Stalled message delivery may prevent redelivery"
If a subscriber hits the MaxInFlight limit with all un-acknowledged messages, the server attempts but does not send un-acknowledged messages. This may prevent an application that missed messages (as opposed to just delaying the acknowledgements) to receive them again.
Because of the same issue, a durable would never receive old/new messages after a server restart if the number of pending acks is >

[2016-05-06 22:10] #72 closed, assigned to kozlovic

[2016-05-10 16:21] #68 closed, assigned to kozlovic

[2016-05-10 18:20] kozlovic opened #84 "DATA RACE when getting the subStore from store's ChannelStore"
[code]

[2016-05-11 16:01] #77 closed, assigned to kozlovic

[2016-05-17 19:50] #84 closed, assigned to kozlovic

[2016-06-06 19:50] mcqueary opened #93 "Rename to nats-streaming-server"
This should also incorporate updating dependencies/imports, travis and coverall configurations

[2016-06-06 22:28] ColinSullivan1 opened #94 "Ensure there is only one streaming server per cluster"
Running more than one streaming server with the same ID in a NATS server cluster will result in undefined behavior, and should not be allowed.  Add defensive code to prevent startup if another streaming server is detected with the same cluster ID.

[2016-06-10 21:28] ColinSullivan1 opened #98 "TLS support"
Users will want the NATS Streaming clients to connect using TLS.  The embedded NATS server can receive TLS parameters through the NATS streaming server command line, but we need the NATS streaming server to use TLS with it's underlying connection to the NATS server.

To support this, TLS client side certificates need to be provided to the streaming server, which can be achieved through using comma

[2016-06-13 22:30] ColinSullivan1 opened #100 "Vendoring"
Add vendoring for the gogo protobuf packages.

[2016-06-15 08:32] #94 closed, assigned to ColinSullivan1

[2016-06-16 15:07] ColinSullivan1 opened #104 "User Authentication Support"
Support user authentication - some basic authentication can be added today (user/pass).

[2016-06-16 21:32] #98 closed, assigned to ColinSullivan1

[2016-06-16 22:41] ColinSullivan1 opened #106 "Configuration file support"
A configuration files passed via the -config command line is not parsed, and should be in order to support all of the NATS server options.  This will likely be required for multi-user authorization/authentication.

[2016-06-17 06:43] #106 closed, assigned to ColinSullivan1

[2016-06-17 15:39] #104 closed, assigned to ColinSullivan1

[2016-06-17 20:23] #37 closed, assigned to kozlovic

[2016-06-22 21:03] kozlovic opened #113 "DATA Race on client close"
[code]

[2016-06-22 21:16] derekcollison commented on #113
This in server or NATS client?

[2016-06-22 21:20] kozlovic commented on #113
NATS Streaming Server, and a PR is already submitted.

[2016-06-23 07:01] kozlovic commented on #113
Resolved by #114

[2016-06-23 07:01] #113 closed

[2016-06-24 07:18] #93 closed

[2016-06-27 19:10] ColinSullivan1 opened #116 "Provide Monitoring"
Introspection into the NATS streaming server via a monitoring interface is required.  An interface similar to that of the NATS server should suffice.

Some discussion points:
- Which data points should be exposed, and how should they be presented  e.g. `/server`, `/stores`, `/clients`?
- Can a pass through using he embedded NATS server port work, or should the NATS streaming server have it's own d

[2016-06-28 14:43] kozlovic opened #117 "Durable on restart may not receive messages"
If a durable is stopped after the server sent up to `MaxInFlight` messages, when the durable is restarted, it does not receive the pending messages.

[2016-06-28 17:23] #117 closed

[2016-07-14 00:15] kozlovic opened #127 "Make file sync for File Stores optional"
With some batterie powered disks, sync may not be required. Make it possible to disable through command line/options.

[2016-07-15 15:12] #127 closed

[2016-07-20 19:44] kozlovic opened #132 "Streaming server is by default listening to "localhost" instead of "0.0.0.0""

[2016-07-20 19:44] kozlovic opened #133 "Add `-ns` as a short for `--nats_server`"

[2016-07-20 20:20] #133 closed

[2016-07-26 20:31] VojtechVitek opened #137 "Dockerfile + official release on Docker Hub?"
Hi guys, thank you for this awesome project.

Do you plan to release NATS Streaming Server to Docker Hub anytime soon?

[2016-07-27 18:11] kozlovic commented on #137
Thank you for your interest! Yes, we do plan to release NATS Streaming to Docker Hub in the coming weeks. Stay tuned!

[2016-08-05 19:56] kozlovic commented on #100
Resolved with https://github.com/nats-io/nats-streaming-server/pull/139

[2016-08-05 19:56] #100 closed

[2016-08-12 14:48] kozlovic commented on #137
Just an update for you guys: I have submitted a PR to Docker's official images repo, waiting for them to review and hopefully merge: https://github.com/docker-library/official-images/pull/2036

[2016-08-12 15:02] VojtechVitek commented on #137
@kozlovic thank you!

[2016-08-18 07:58] sfrooster opened #142 "Query / Export Persisted Messages, Separate from a NATS Client"
Persistent, ordered and highly-available messages enable a great many client use cases (support for recovery from client down time, cluster healing etc).

There are additional use cases where being able to (minimally) filter/query historic messages and export the results to pre-defined format in non-realtime (or near real-time if possible). For example:
- audit trail / compliance reporting
- produ

[2016-08-29 08:15] steventanwc opened #146 "Manual Ack"
When I set
manualAcks: true
without durableName
maxInFlight: 1
the messages will be downloaded 1 by 1 only after the I issue msg.ack();

However if I set
manualAcks: true
durableName: 'somename'
maxInFlight: 1,

The manualAcks does not seem to work.

Is manualAcks only works when there is no durableName??

Thanks in advance

[2016-08-29 13:36] kozlovic commented on #146
Thanks for the report, I will look into this.

[2016-08-29 15:55] kozlovic commented on #146
I was not able to reproduce the issue you reported. If I set a durable name and `MaxInFlight(1)` and in the message callback transfer the message to an ack channel from which I dequeue the message, sleep and then ack the message, I see that message arrive one by one, waiting for the ack. Would you have a test case to reproduce it? Which server version are you using?

I did find an issue though, th

[2016-09-08 21:33] zshamrock commented on #137
@kozlovic any news from Docker on this one? It still can't be find in the Docker Hub.

[2016-09-08 21:44] kozlovic commented on #137
@zshamrock Unfortunately no, I have just put a comment in the PR to see if I get some feedback. Not sure if that helps, but you can go to https://github.com/docker-library/official-images/pull/2036 and put a thumbs up ;-)

[2016-09-08 21:56] zshamrock commented on #137
Done (thumb up). But you still can upload NATS.io official image (not necessary under Docker official images) into the Docker Hub. It will be better than nothing in the meanwhile?

[2016-09-09 16:37] mcqueary commented on #7
Evidence, regarding start time:
https://github.com/nats-io/java-nats-streaming/issues/22

[2016-09-12 20:15] injaelee opened #150 "Client Publish Timeout on Reconnect After Stream Server Restart"
When the stream server is restarted, the client calls the reconnect callback but times out in publishing the message.

I've briefly gone through the open/closed issues with the keyword "reconnect". But I haven't seen anything related to the issue at hand. I am wondering whether I am missing something. I would appreciate your help.

Here is how to reproduce the problem.
[code]

Here is my client co

[2016-09-12 20:22] kozlovic commented on #150
@injaelee Thanks for your interest in NATS Streaming!

I believe the issue is that you are not using the file based store (default is memory only), so no state is persisted when you restart the server. When the server restarts, it gets new subject prefixes and this is why your publisher is able to reconnect to NATS Server, but sent messages go nowhere so to speak, and so the publisher times-out.
T

[2016-09-12 20:22] #150 closed

[2016-09-12 20:23] kozlovic commented on #146
I am closing the issue now. If you still have an issue, please update and I will re-open it. Thanks!

[2016-09-12 20:23] #146 closed

[2016-09-16 18:23] kozlovic opened #152 "Possible panic on server shutdown if messages are being published"

[2016-09-23 18:27] #152 closed

[2016-09-29 18:59] kozlovic opened #154 "Subscription LastSent not properly persisted after subscription file is compacted"
It is possible for the server to lose the last sent seqno of a given subscription after a compact and server restart.

[2016-09-29 20:37] mcqueary opened #156 "Durables should work for queue groups"
* Ideally, we need a "close" of durable consumer/subscriber that doesn't unsubscribe (right now there is only one unsubscribe).
* Need design/story for how we store subscription events for queue subscribers (durable or not). Right now we don't have a way to do this
* Add durability to queue subscriber

[2016-09-30 00:30] kozlovic opened #157 "Issues with Queue Subscribers"
- Queue Group is not removed when last queue subscriber is removed.
This means that if there are 5 messages on a channel and you start a queue subscriber on say group "group", this queue subscriber receive all 5 messages (assuming started with `DeliverAllAvailable()`). The queue subscriber `Unsubscribe()` or its connection is closed. The group is not removed from server memory. If you start a new

[2016-09-30 00:35] kozlovic opened #159 "Non durable subscriptions are not removed from storage unless calling Unsubscribe()"
Non durable subscriptions are expected to be removed from storage when their connection is closed (that is, no explicit call of `Unsubscribe()`) since the server will not re-create them without the presence of the client/connection info.

[2016-09-30 19:41] #154 closed

[2016-09-30 19:54] #159 closed

[2016-09-30 20:38] #157 closed

[2016-09-30 20:41] kozlovic commented on #157
Addressed with commit: 6fe9b1414c184a081ad32d0c72041924933b2a02

[2016-10-03 15:29] stephenjannin commented on #13
Do you have any plan/advice on how to achieve high availability for nats streaming servers ?
For example I have a 3 nodes cluster and if I loose a node, clients gets reconnected to another one  and don't loose any messages ?

[2016-10-04 18:16] #156 closed

[2016-10-04 19:32] sfrooster opened #162 "Documentation only mentions Go and Java clients"
There are C# and Node clients as well.

[2016-10-04 23:19] kozlovic commented on #137
Happy to announce that it is now ready [here](https://hub.docker.com/_/nats-streaming/). Thanks all for your patience!

[2016-10-04 23:19] #137 closed

[2016-10-05 18:41] njern opened #164 "Allow per-channel configuration options"
Several of the options passed  to the server (max_subs, max_msgs, max_bytes) are options I'd like to be able to define per channel and I'm sure this would be useful to other users as well.

Is this something that has been considered already? Any thoughts on where it would fit in terms of configuration? E.g on server start, defined by the publisher when a channel is first created or somewhere else

[2016-10-05 18:42] kozlovic commented on #164
Yes, this is something that has been discussed. We were thinking of a configuration file where you would define the channels with their limits. What do you think?

[2016-10-05 18:44] njern commented on #164
I think that'd work nicely.

[2016-10-07 10:50] njern opened #167 "Contributing guidelines"
Hey guys,

Thoughts on adding [contributing guidelines ](https://github.com/blog/1184-contributing-guidelines) to the project?

As a NATS "outsider" it would be nice to know what types of PR:s you are happy to take in / if there is a specific process you prefer, like open issue -> issue accepted -> PR ?

[2016-10-07 15:51] kozlovic commented on #167
We don't have formal guidelines as of now. We welcome PRs, but I think what you propose seem to make sense in that we don't want users to spend time working on a PR to be rejected because it does not fit with the project or we had planned to address that a different way, etc... So unless a very trivial one, I would recommend vetting the idea first by opening an issue (which can be marked as bug, e

[2016-10-07 15:51] #167 closed

[2016-10-07 16:18] dahankzter commented on #13
What does the "ready" label mean?

[2016-10-07 20:21] ColinSullivan1 opened #168 "Support extremely large numbers of topics"
The NATS Streaming server should support extremely large numbers (millions) of topics.

Areas to investigate to achieve this include:
- Reduce memory utilized by active subscriptions.
- Increase throughput to the embedded / connected NATS server (multiple connections).
- Add a backing store type that can efficiently handle large numbers (millions) of channels.

It should be understood that perform

[2016-10-07 20:43] kozlovic opened #169 "Possible stall of delivery (or redelivery) when messages are discarded from log"
When messages are discarded from the log due to channel limits, it is possible that delivery stops or messages still in the log but needed to be redelivered are not.

[2016-10-08 06:34] njern commented on #167
Sounds good. My Slack account is my first name at walkbase.com if you don't mind sending over an invite.

[2016-10-11 02:37] sfrooster commented on #142
This could be as easy as providing an alternative to deleting the oldest DAT file, and some CLI tooling to export all messages in a DAT to a stringified JSON array (file).

[2016-10-11 14:05] zshamrock opened #171 "Occupies 50% of memory"
Not sure if it is related to the server or the client library (Java) we use.
But starting the nats streaming (v0.2.2) the free memory goes from 3.7GB to 167MB immediately.

Changing the current data dir with lots of files there (121 subjects/channels dirs), to the new data dir, then NATS streaming no longer occupies that much memory, and system continues to have 3.7GB of a free memory.

It could b

[2016-10-11 16:19] ColinSullivan1 commented on #171
@zshamrock - Thank you for using NATS!

We'll look into it.  In the meantime, could you run a small test with an instance of your application where you run the NATS streaming server with the `-SDV` flag, and send us the output?

[2016-10-11 16:29] aricart commented on #142
Would providing the format of the file be an useful feature? If the store files are large, it may be more useful to simply expose their format, and write tools against that.

[2016-10-11 17:54] sfrooster commented on #142
The format(s) would be good, or a lib to write tools against, and then maybe a command line option for specifying an external tool to call at file switch, where it'd be passed some arguments like old file + path.  I don't know. We'd have to talk about it, but the idea would be to override the default behavior of deleting the oldest file when the max number of messages is reached.

[2016-10-12 15:45] kozlovic commented on #171
@zshamrock The file store implementation in `v0.2.2` is keeping messages in memory, so there was effectively no disk read after the initial restart.
Could you try with this [PR](https://github.com/nats-io/nats-streaming-server/pull/166) and use `-file_cache=false` on the command line to see if the memory usage drops? In this PR, the file store implementation can now disable caching (which will res

[2016-10-12 16:58] zshamrock commented on #171
Hi, @ColinSullivan1 here is the log from running NATS streaming with -SDV (and again if running against that directory memory goes from almost 4GB to 150MB in less then minute).

[events.sdv.log.zip](https://github.com/nats-io/nats-streaming-server/files/525152/events.sdv.log.zip)

[2016-10-12 17:04] kozlovic commented on #171
@zshamrock Please check my comment above. Try with the file store implementation found in the PR (I hope to issue a release soon with that PR and other things merged).

Regarding the client file, assuming that you make sure that your connections are closed, then don't worry about the size of the file. It is compacted based on some thresholds, so 14K does not mean that the server recovers that many

[2016-10-12 17:07] kozlovic commented on #171
@zshamrock Note about using the code in PR. This PR introduces index files for the message stores. If you run the server built from PR, it will find that there is no index file so recover the `msgs.dat` files and generate the index files on the flight. However, if you do run with the new version and go back to use the `v0.2.2` with current data files, the index would not be updated. So you would n

[2016-10-12 17:46] zshamrock commented on #171
Hi, @kozlovic. Thank you.

Yes, will then try the version from PR to see if it addresses this issue, and let you know then.

Ok, this was my next question :). Then good to know.

One more thing, could you, please, explain more on this:

Specifically by "channel does not go away"? Our use case, is that we don't have well predefined channels upfront (like, I don't know "events", for example), but in

[2016-10-12 17:49] zshamrock commented on #171
Also, if it matters, the overall size of the data already stored in the data dir, is about 1.3GB. So, if reading everything into memory on startup, it could explain this. And as we don't query it in real-time (or often), we indeed better to disable `file_cache`

[2016-10-12 17:56] kozlovic commented on #171
Yes about disabling file_cache, and using the code from PR should reduce the memory footprint.

That being said, you need to understand that anytime you send to a new subject (channel), the server will create a sub-directory and store messages and subscriptions info in that directory. The number of channels is limited by the `-mc` option. Those channels don't go away, meaning that there is no curr

[2016-10-12 18:19] zshamrock commented on #171
Thank you. Yes the issue you've mentioned looks interesting. Specifically this "It should be understood that performance will be correlated to the choice of backing store." Also from your notes

I understand the limitation. We have couple of months before going 100% public, so maybe at that time the new backing store will be ready. Or we build the workflow to workaround this. For now it fits very

[2016-10-12 19:09] kozlovic commented on #171
@zshamrock Ok thanks. Let us know if using the code from PR with `-file_cache=false` works for you, and I will close this issue.

[2016-10-13 19:31] sfrooster opened #172 "Streaming Options Cannot Be Specified in Config File"
Unless, I'm missing something.  Am I? Or is this by design?  Mostly looking to specify the store type and (if relevant) location.

[2016-10-13 19:32] kozlovic commented on #172
Working on that at the moment, also to address #164.

[2016-10-13 22:00] nsamala commented on #13
Bumping this issue too. @mcqueary is this functionality available in NATS streaming currently or is this planned development?

[2016-10-14 16:43] kozlovic commented on #171
@zshamrock I am closing this issue now. Will re-open if needed.
Thanks!

[2016-10-14 16:43] #171 closed

[2016-10-17 15:39] nsamala opened #173 "Improve logging for connection issues"
I've been trying to setup a NATS streaming server with an external NATS cluster on Docker Swarm with no luck. I get the following logs:

[code]

**How to reproduce**
Using Docker 1.12.2 (Swarm Mode) on a 3 server cluster:
[code]

Two different issues:
1. Why is NATS Streaming not starting?
2. Can the logs be more explicit about what's going wrong? I don't know if it's just a connection issue or so

[2016-10-17 15:58] kozlovic commented on #173
Unfortunately, the server currently panics when failing to start, which prevents the actual error to be logged. We will need to address that.
It is likely that it is a connection issue. Make sure you provide the correct host/port and credentials if applicable, to connect to the NATS server.

[2016-10-17 16:19] nsamala commented on #173
Thanks for the heads up:

It looks like it's unable to resolve the DNS name `nats-main` when using the Docker overlay network. When I publish the NATS server externally and point it to the public server address, the connection works fine. Any thoughts on that?

[2016-10-17 16:22] kozlovic commented on #173
Have you checked this blog from @wallyqs? http://nats.io/blog/docker-swarm-plus-nats/

[2016-10-17 16:38] nsamala commented on #173
Thanks for that! It looks like I was missing the -cluster 0.0.0.0:6222 parameter. Everything works now :)

[2016-10-17 16:41] kozlovic commented on #173
Great! I will create a separate issue for the server to at least log the error before panic'ing. Closing this issue now.

[2016-10-17 16:42] kozlovic opened #174 "If server fails to start, it should at least log the error before issuing the panic"
If the server fails to start (for instance cannot connect to NATS server), it panics. The problem is that the error is not logged, so if you use logging and have only access to the log you see that servers starts and shutdown without any indication of what the error was.

[2016-10-17 16:43] kozlovic commented on #173
Actually, will keep this one opened instead.

[2016-10-17 16:44] kozlovic commented on #174
Closing this one and keep #173 opened instead.

[2016-10-17 16:44] #174 closed

[2016-10-17 22:05] #162 closed

[2016-10-18 22:15] ColinSullivan1 opened #175 "Add a floor/ceiling to a subscription response"
It would be helpful to know what the ceiling (max seqno) of a subscription is, particularly if one wants to replay a snapshot of data from a previous point in time to "now", and then unsubscribe.

This would require a protocol update, and updates to clients to retrieve this information from the subscription.

[2016-10-19 00:42] kozlovic opened #176 "Possible panic with file store implementation when reducing limits"
Set limit to max_msgs=100
Send 50 messages
Restart server with max_msgs=10
Send 10 messages => panic.

[2016-10-19 08:06] 2cats opened #177 "How to delete channels"
In my application, a unique topic is created for each client's request. However, as time goes by,I encounter the "**too much channel**" error.So ,How can I **delete channel when it is useless** ?

[2016-10-19 15:50] kozlovic commented on #177
By request, do you mean that you are doing request/reply with Streaming? If so, not that the API has been removed from the streaming clients (they were there originally to make the streaming API look alike the NATS API). Request/reply is not appropriate with Streaming. Regular NATS Request/Reply is giving enough guarantee that the receiver has received and processed the request, so there is no nee

[2016-10-19 19:02] #169 closed

[2016-10-20 05:10] riaan53 opened #178 "Use streaming and normal nats together [question]"
Hi, If i just start up a nats streaming server and connect to it via the normal nats client and a streaming client to get the fuctionality of both. It works but I just want to know if it will be ok to use it like that? Will the normal nats client behave the same as if running against the standard server?

Thanks!

[2016-10-20 07:58] joeblew99 opened #179 "Does this replicate data across the cluster for fail-over"
This looks awesome

i am looking at my Infrastructure roadmap, and NATS-Streaming looks like its has the properties to replace Kafka.

But, does this replicate data across the cluster for fail-over yet ?
I also noticed its a simple file based disk persistence. I guess this will be changed to a formal WAL of some sort ?

[2016-10-20 08:17] 2cats commented on #177
Thanks for your reply , Seems  I have to use streaming and regular nats together now

[2016-10-20 14:56] kozlovic commented on #177
Note that the with the client API, you have a convenient method (`conn.NatsConn()`) that returns the underlying NATS connection that you could use for NATS request/reply if you desire. Or you can use a dedicated one, up to you.

[2016-10-20 14:56] #177 closed

[2016-10-20 14:59] kozlovic commented on #178
Thanks for using NATS!

By default, the NATS Streaming server embeds a NATS Server, but it is a standard NATS server, so this is why both NATS and Streaming client can connect and work as expected.
You could start the Streaming server and connect to a NATS server using the `-ns` command line parameter. See the NATS Streaming server as a NATS client (which it is).

[2016-10-20 14:59] #178 closed

[2016-10-20 15:05] kozlovic commented on #179
Thanks for your interest!

Clustering is in the roadmap but not implemented yet. The target is for Q1 2017, but nothing is set in stone.
As for storage, we have memory and indeed a simple file base implementation. We have tried to use a Store interface to make it is easier to add future implementations. We welcome community contributions ;-)

[2016-10-20 15:05] #179 closed

[2016-10-20 17:55] riaan53 commented on #178
Awesome! 👍

[2016-10-21 00:39] kozlovic opened #180 "Durable not removed after calling Unsubscribe()"
If an application creates a durable "dur" on channel "foo", receives some messages, then call `Unsubscribe()`, the server should remove this durable. That is, if a durable "dur" on channel "foo" is then created with `DeliverAllAvailable()`, it should receive all messages. Right now, it receives messages starting at the last sequence sent for the previous instance of the durable.

[2016-10-21 07:32] joeblew99 commented on #179
@kozlovic
The store interface sounds good. I suggest one being boltDB for portability reasons, as i run lots of go code on mobile , desktops and servers, and bolt runs everywhere.

[2016-10-21 08:46] joeblew99 commented on #13
https://github.com/minio/dsync
- object level storage clustered across servers. Using minio, which is pretty well used now. Its limited in terms of the one to many options and no rebalacning yet, but is one option i feel.
- If a NATS server dies, the data does not die with it. New one boots up, takes over the namespace and off it goes. Still needs heartbeating / discovery with etcd or whatever i g

[2016-10-21 21:13] kozlovic opened #182 "Add support for client Subscription.Close()"
Add support for `Subscription.Close()`

See https://github.com/nats-io/go-nats-streaming/issues/114

[2016-10-21 21:29] #180 closed

[2016-10-23 16:04] sfrooster commented on #7
+1 - we are/were going to open an issue similar to this against either csharp, or the server.

[2016-10-24 19:06] sfrooster opened #183 "STAN appears to have a memory leak"
I've run three different tests over the weekend, all with nearly identical results.

Using four vm's in our datacenter, one running STAN+NATS, one publishing only (java), one subscribing and publishing (node) and one subscribing only (java), I see the memory usage (as reported my nats-top) climb slowly towards ~7.5G.  Along the way, NATS will prune STAN a few times as a slow consumer.  In the 7.5G

[2016-10-24 19:28] kozlovic commented on #183
I saw from an email thread that you have set the number of messages/size to unlimited. Could it simply be that you are storing tons of messages? Also, default file store implementation keeps messages in memory, which would make the memory growth go faster (file_cache=false) would reduce this.

[2016-10-24 19:41] sfrooster commented on #183
I do have it set to unlimited.  In terms of file store, this should be ok as long as you have disk space - and we do.  We also have cache set to true.  I was under the impression that this would intelligently cache some of the messages, not blanket cache all of them.  If it caches all messages in memory, how do you ever clear them out without restarting the server?

I will rerun the test with cach

[2016-10-24 19:47] kozlovic commented on #183
In early implementation, all messages were cached. In v0.3.0, same by default and but you can configure for no message cached at all (expect for short amount of time due to use of buffered write on disk).
Regardless of caching or not, if you set to unlimited, there is still memory used on a per-message basis, so the more messages you store, the more memory the server will use (it's just that it ma

[2016-10-24 19:54] sfrooster commented on #183
I'm re-running now with unlimited=true, cache=false.  We'll see what happens with that.

In terms of setting limits/ages on messages - if you want to keep 7 days (168 hours) of messages around, can you specify just that, or do you have to also estimate how many messages/bytes that will be and set those as well?  That is, can you set those values to 0, only set the age, and have it work as expected

[2016-10-24 20:01] kozlovic opened #184 "FileStore caching by default should evict messages after short amount of time"
Default behavior when caching is enabled is to simply keep all messages in memory. We could remove from cache after a short time, etc..
The alternative is to disable caching, in which case messages are not kept in memory at all (except for very short time while the buffer writer is not flushed on disk).

[2016-10-24 20:01] kozlovic commented on #183
As a side note, I have created https://github.com/nats-io/nats-streaming-server/issues/184 to improve default caching for file stores.

[2016-10-24 20:08] kozlovic commented on #183
Regarding age limit: as of now, I would recommend setting a limit in count and/or bytes, otherwise a single file would be used, which would prevent store from removing file "slices".

[2016-10-24 23:19] sfrooster commented on #183
We've been running for a bit (1.1M messages) and something interesting happened. Here are memory sizes for various numbers of messages sent:
36000     38.1M
400000   209.1M
880000   617.6M
1.1M         585.4M
1.2M         623M

Not sure what's going on there, but it did reclaim some memory at one point.

[2016-10-24 23:23] kozlovic commented on #183
Garbage collection. Go will increase memory and set targets for garbage collection, so you may see jumps not proportional to the number of messages being sent.
Is this test using a single channels or multiple? Each store has buffered writers with a default of 2MB buffer size. They will shrink when not in use, but if you have multiple channels, the memory footprint will increase.

[2016-10-24 23:24] sfrooster commented on #183
Two channels currently.

[2016-10-24 23:32] kozlovic commented on #183
Did you use `file_cache=false`? In my tests, 1.2M messages with file store and cache disabled makes streaming server plateau at ~200MB (mac os x, go 1.6.3), regardless the size of the messages (since caching is disabled). As a test I have set the max count to 1.2M, max bytes to unlimited and keep sending 1M messages. Memory footprint constant.
[code]

[2016-10-24 23:34] kozlovic commented on #183
Note the above is for a single channel, 1.2M. If I have 2 channels, we then store 2.4M messages, and memory goes to ~380M.

[2016-10-24 23:37] kozlovic commented on #183
If your messages are quite big and producer rate is high, there will be pressure in memory when those messages are processed by the server. With async producers, it is possible that thousands accumulate in the server before being processed, so that will make the memory usage jump, but then it should be bounded if the total number of messages does not increase.

[2016-10-24 23:40] sfrooster commented on #183
Ah - well our situation is a little different. We have clients A, B, C.  A pubs messages of type M1. B subs messages of type M1. Our framework is also sending "tracers" so that pub'ing a message, or receiving a message as a sub, will pub a message of type M2 (pub'ing or sub'ing M2 does not fire another tracer).  C is sub'ing to M2.

So, in reality, when I say 1.2M, it's really 3.6M.

[2016-10-24 23:43] kozlovic commented on #183
Ok, so this plus the incoming rate that may cause the server to temporarily need to have many thousands of messages in memory (if you use async producers), so that could very well explain this. Again, the test would be to set a limit on the number of messages per channel and verify that the process does not grow overtime.

[2016-10-24 23:44] kozlovic commented on #183
and that's the test I just did to say that the mem usage reach a plateau when the limit of messages is reached.

[2016-10-25 00:04] sfrooster commented on #183
I'm going to leave this test running for awhile and, if things keep chugging along, I'll close this issue.

I'll probably end-up opening a different feature req / issue around being able to specify max message age AND have that timeframe split into multiple files, or specifying unlimited with a max file size (and so multiple files). All of which has to do with being able to take a file and archive

[2016-10-25 16:54] sfrooster commented on #183
The test is at ~21 hrs now, doing much better than when cache was set to true.  We're around 7.8M messages (so x3 - 23.4M) and memory is at 3.3G.  I am curious what is being kept in memory that is causing it to continuously grow.  I realize you're saying it's not a leak and I'm inclined to agree. But if everything has been delivered and ack'd etc, what is the server holding in memory?

[2016-10-25 17:08] kozlovic commented on #183
The file store still maintains a map with message sequence as the key (an uint64) and the value is a record of about 32 bytes (contains vital information for a message that server needs in memory).

But I think that the bulk of memory you see is because of the influx of messages before they are even persisted. This causes memory to grow and memory is not released back to OS.
Using sync producers w

[2016-10-25 17:18] sfrooster commented on #183
So what is the suggested way to avoid this? Is this a by-product of "unlimited messages"?  Would the memory be freed once messages were expired or...?  How do we operate a server with this sort of throughput (about 1.1M / hour) without having to schedule reboots to reclaim memory?

[2016-10-25 17:51] bkim54 commented on #7
+1  seeing this issue as well in csharp and node clients with an error from the server. "invalid startAt"

[2016-10-26 01:05] kozlovic commented on #183
It is very well possible that we have a memory leak, but:
- The file implementation still needs memory per-message. So the more you store, the more the process size will grow.
- The number of connections/subscribers, processing of acks, etc will also require memory in the server.
If with a similar influx of messages the process size grows, but slowly, it may just be the memory needed to store the

[2016-10-26 18:56] sfrooster commented on #183
I think there needs to be some refinement around managing the file store, and memory. But I don't currently have a reason to believe there's a memory leak so I'm closing.

[2016-10-26 18:56] #183 closed

[2016-10-27 18:25] DasAng opened #186 "AckAwait always multiply by 3 seconds?"
I have a weird behavior when trying to use AckAwait in a manual acknowledge mode.

Maybe I'm missing something here but I have experienced a scenario where I see the duration I set in  AckAwait() being multiplied by 3 seconds.

For example:

`stan.QueueSubscribe("foo","bar",stan.SetManualAckMode(),stan.AckWait(time.Second))`

Then after 3 seconds if I haven't acknowledged the message it gets redel

[2016-10-27 18:30] kozlovic commented on #186
Are you receiving one message at a time or are you seeing this after your application has receive tons of messages? The reason I ask is that if the subscriber has receive MaxInflight messages, it is considered stalled and no message is sent to it. This is blocking redelivery, but redelivery is forced after 3 failed redeliveries.

[2016-10-27 18:35] DasAng commented on #186
I'm seeing this one message at a time. I've set MaxInFlight to for example 1.

[2016-10-27 18:37] kozlovic commented on #186
Well that's the point. You set MaxInFlight to 1, so that means the server stalls the subscriber after the first message. So what you see is expected.

[2016-10-27 18:37] kozlovic commented on #186
As a test, don't set MaxInFlight at all. Run your subscriber with manual ack and don't acknowledge. Send 1 message, look at the message redelivery. Do you still see 3 seconds?

[2016-10-27 18:39] kozlovic commented on #186
I just verified and it works as I stated above.

[2016-10-27 18:46] DasAng commented on #186
Yes If I don't set MaxInFlight it works as expected. Ok thanks for the explanation. Is this documented somewhere?

[2016-10-27 18:50] kozlovic commented on #186
Here: https://github.com/nats-io/go-nats-streaming#subscriber-rate-limiting. It does not specifically describes redelivery, but redelivering messages to slow consumers will probably not help, hence the decision to force a redelivery only after an amount of failed redelivery attempts.

[2016-10-27 18:50] #186 closed

[2016-10-28 20:37] jaquadro opened #187 "Order of delivery"
Does nats-streaming-server make any guarantees about the order of messages delivered to a subscriber?  E.g. at a base level, if a single publisher writes messages A, B, C to the same topic, will a single subscriber on a durable subscription receive the messages in that order?

Under normal operation I've always seen messages delivered in sequence number order, but I've run into a case where if I r

[2016-10-28 20:48] kozlovic commented on #187
With the redelivery feature, order can't be guaranteed, since by definition server will resend messages that have not been acknowledged after a period of time. Suppose your consumer receives messages 1, 2 and 3, does not acknowledge 2. Then message 4 is produced, server sends this message to the consumer. The redelivery timer then kicks in and server will resend message 2. The consumer would see m

[2016-10-28 20:53] jaquadro commented on #187
Thanks for the fast reply.

Could the behavior in the first paragraph be worked around by setting the redelivery timeout to something really big, effectively disabling it?  It seems separate from the issue of restart redelivery not winning the race to get its messages out first.

[2016-10-28 21:00] kozlovic commented on #187
I don't think you can disable redelivery entirely. You could set AckWait() to a very high value or not use manual ack mode at all. Even then though, there is a possibility that even the auto-acks are missed by a stopping server and so it would resend those messages.

Redelivery is a feature of the NATS Streaming server. It sounds like you are asking for a server without this feature. Not sure ther

[2016-10-28 21:15] jaquadro commented on #187
Maybe.  It's something I can deal with to a point.  While I've found NATS to be a close match to what I'm looking for so far, I'm really trying to emulate the behavior of AWS Kinesis where I am guaranteed to read records in sequence-number-order, as determined by the queue when a message was published to it.  But this has to be entirely local to the same machine so Kinesis isn't on the table.

If

[2016-10-29 17:15] timmartin19 commented on #116
Is there any timeline on when this might become available?

[2016-10-31 01:58] sfrooster opened #188 "Unsubscribing from Subscription Inside Subscription Handler Errors"
cc @aricart

Using the node streaming client, we have the following typescript code:
`let subOpts = this.stanConn`
`.subscriptionOptions()`
`.setMaxInFlight(1)`
`.setManualAckMode(true)`
`.setStartWithLastReceived()`
`.setAckWait(ackWaitMS);`
` `
`let lastMsgSub = this.stanConn.subscribe("some-string-here", "", subOpts)`
`    .on("message", (lastMsg: NATSMessage) => {`
`        doReplay(lastMsg);`

[2016-10-31 02:11] sfrooster commented on #13
@joeblew99 can you expand on how this works, what it would provide? Possibly as a bridge until true clustering is available?

[2016-10-31 02:16] sfrooster commented on #7
I really thing this should be marked as a bug since knowing the *exact* time of a message is nearly impossible unless you already have the message, in which case why do you need the message?

[2016-10-31 10:44] joeblew99 commented on #13
@sfrooster its just an idea.
the goal is to have Kafka like functionality. In other works  that you can store events in the system for ever if need be. As you well know this is how people se kafka in a CQRS architecture.

dsync provides some base primitives as does minio. this needs much much more research.
other will disagree what the goal of clustering support is perhaps too.

Happy to debate th

[2016-10-31 11:18] dahankzter commented on #13
I have always expected the clustering support to allow for replacing Kafka.
As soon as it is there our Kafka instances are history.

On Mon, Oct 31, 2016, 11:44 jow blew <notifications@github.com> wrote:

[2016-10-31 15:55] sfrooster commented on #13
@joeblew99 @dahankzter
I'm aware of the need for clustering, I just want it sooner than the current schedule. I want to avoid kafka in the first place.  Would either or both of you mind elaborating as to why you're moving away from kafka? I'm of the same mindset, but would really like to hear other's experiences.

[2016-10-31 16:03] dahankzter commented on #13
For me it is the hopefully easier and faster operations aspect. The
performance of message delivery as well of course but primarily operational
simplicity.

On Mon, Oct 31, 2016, 16:55 Michael Haan <notifications@github.com> wrote:

[2016-10-31 16:07] sfrooster commented on #13
Can you elaborate on some of the operational challenges you've had?

[2016-10-31 16:13] dahankzter commented on #13
Actually Kafka has been much better than many other Zookeeper dependent
tools. Usually it is a combination of jvm gc and adding/removing nodes and
partitions. I have perhaps gotten my hopes up too high since Nats is so
very easy to use and maintain in operations.

On Mon, Oct 31, 2016, 17:07 Michael Haan <notifications@github.com> wrote:

[2016-10-31 17:18] aricart commented on #188
@sfrooster  What server are you using? There may be an issue with the server forwarding messages before the protocol response is received.

Could you please try with commit hash 624ac895c4065ccaf7cf21496e170945f7e14be6

[2016-10-31 17:24] ColinSullivan1 commented on #188
@sfrooster We're looking at potential bug introduced in master - I'll keep you posted.

[2016-10-31 20:03] sfrooster commented on #188
Ok - so don't try with the commit hash above...

On Mon, Oct 31, 2016 at 10:24 AM, Colin Sullivan <notifications@github.com>
wrote:

[2016-10-31 20:11] ColinSullivan1 commented on #188
@sfrooster - Sorry for the confusion - the commit hash @aricart mentioned is good, or give PR #191 a shot.   Which version of the NATS streaming server did you see your problem with?

[2016-10-31 20:14] sfrooster commented on #188
Latest - 0.3.1 / 0.9.4

On Mon, Oct 31, 2016 at 1:11 PM, Colin Sullivan <notifications@github.com>
wrote:

[2016-10-31 20:42] sfrooster commented on #188
Given that, which should I be trying?

On Mon, Oct 31, 2016 at 1:14 PM, Michael Haan <haanmd@gmail.com> wrote:

[2016-10-31 20:45] ColinSullivan1 commented on #188
If you really want to use master branch, feel free to use commit hash 624ac89.  Otherwise, use release v0.3.0.  Master branch will not be as stable as a release.  Thanks for reporting this!

[2016-10-31 21:29] sfrooster commented on #188
https://github.com/nats-io/nats-streaming-server/pull/191 seems to have
fixed the issue we were experiencing in
https://github.com/nats-io/nats-streaming-server/issues/188

On Mon, Oct 31, 2016 at 1:45 PM, Colin Sullivan <notifications@github.com>
wrote:

[2016-10-31 21:30] aricart commented on #188
#191 Fixes the issue.

[2016-10-31 21:30] #188 closed

[2016-11-01 10:05] joeblew99 commented on #13
why i am avoiding Kafka:
1. Because its JVM and so makes dev and ci and ops just that extra bit harder. We try to use golang for everything (even for mobile and web GUI). I knwo its naughty to put all eggs in one basket...

2. Because i use NATS on mobiles, servers, desktops now.  Its very sweet how with golang you can run it on all mobiles and leverage lots of golang code.  The other apps on the

[2016-11-02 01:18] mcqueary commented on #13
@dahankzter Sorry for the delayed response. The "ready" label is an indicator that the item is "ready to work on". It's a waffle.io thing.

[2016-11-02 01:19] mcqueary commented on #13
@nsamala It's in early development right now.

[2016-11-02 16:38] kozlovic commented on #187
Here's what was the issue and first a bit of background:

The server stops sending messages (new or redelivered) when the number of messages sent to a subscriber reaches the `MaxInflight` value. When the server receives ACKs, that number reduces and so it can send more messages.

I realized that this would prevent redelivery all together if the subscriber had stalled (that is, messages sent >= Max

[2016-11-02 18:53] jaquadro commented on #187
This is how things are currently working in my testing:

- A durable subscriber has stalled for a period of time (because an AWS endpoint is out for several hours, for example).
- The subscriber crashes for some reason (Node out of memory, PC restart, whatever). [Maybe important detail: the NATS server is a child process and is necessarily restarted during this process]
- When the application rest

[2016-11-03 10:25] elakito commented on #150
@kozlovic I have a question regarding this behavior as I was thinking of a possible workaround without using the file mode.

The approach that I experimented with was to create a nats.Conn in advance with a custom ReconnectHandler and pass it to stan.Connect to create a stan.Conn. In this way, the reconnect handler can recreate a stan.Conn (i.e., closing the old one and creating a new one using st

[2016-11-03 14:49] kozlovic commented on #150
@elakito Unfortunately, several things make this approach not ideal:

1. It may be difficult from an application perspective to recreate the underlying stan objects while the application is running. The application may be in a middle of a send, or a message callback, etc... so coding the "reconnect" behavior inside the ReconnectHandler callback may present a challenge.
2. Although by default NATS

[2016-11-03 17:23] elakito commented on #150
@kozlovic Thanks. I think point 1 is probably not complicated to handle but point 2 seems to be a real problem.

In that case, one last question, what is the reason for prefixing those subjects? The reason for asking is whether dropping the prefixes might be an option when using the memory mode.

regards, aki

[2016-11-03 17:25] kozlovic commented on #150
Make them unique so that if you had multiple Streaming servers on the same network, communication between a client and its server would be "private".

[2016-11-07 22:50] kozlovic commented on #187
Sorry for the delay. If we were to change the redelivery to be forced since the get go, then that would reduce the risk of having mixed messages. On server restart or durable restart, if there are un-acknowledged messages, there would be sent to the client, then the subscriber would be unlocked for receiving new messages.

There would still be a possibility that if the client misses some of the re

[2016-11-08 09:12] elakito commented on #150
@kozlovic I experimented with several approaches. For the pure in-memory approach using a static prefix, I needed to add a heuristic workaround to automatically re-register the old publisher client when it publishes first time after a broker restart. With that change, the publishing part worked fine but the subscription part didn't work because I can't automatically reactivate the old subscription

[2016-11-08 18:18] kozlovic commented on #7
@sfrooster @bkim54 @mcqueary Check if proposed PR fits your needs. Basically, these calls will no longer fail and subscriber will receive first avail message is given sequence is smaller or time is before first message's timestamp, or will behave as "new only". That is, the subscriber won't receive the last message, but only new messages if given sequence is higher than last sequence or time is in

[2016-11-08 22:56] bkim54 commented on #7
@kozlovic works for us! thanks for the fix!

[2016-11-09 16:25] elakito commented on #150
I posted a message to
https://groups.google.com/forum/#!topic/natsio/V4tvf8FVJ54

[2016-11-14 22:43] kozlovic opened #195 "Server possibly processing protocols out of order"
The way the server subscribes to various protocol subjects, it is possible that protocols sent in a given order from a client are processed out of order by the server.

[2016-11-15 16:23] #7 closed

[2016-11-18 06:13] sfrooster commented on #116
In addition to /server, /stores, +/cluster
Would like to be able to see (at least) for /clients:

- topics/channels
- individual/queuegroup subscribers by channel
- queue group members
- per channel: max seq, max ack'd, outstanding/in flight acks
- per individual sub (non QG): last ack'd, slow consumer count, is stalled
- per QG sub: same as above

[2016-11-20 03:06] sfrooster opened #198 "Server should track list of existing channels"
I'd would be useful for the server keep a list of all channels (++info) to support reporting and admin operations against, for example, old, out dated or orphaned channels.

[2016-11-21 18:18] kozlovic commented on #198
@sfrooster The server can get stats on all channels through the store interface. So I guess this is more of adding channels info into #116, which you already commented in that issue, right?

[2016-11-21 18:31] sfrooster commented on #198
Yes - it's the first bullet point on my list :-)

On Mon, Nov 21, 2016 at 10:18 AM, Ivan Kozlovic <notifications@github.com>
wrote:

[2016-11-21 18:33] kozlovic commented on #198
So should we close tis (#198) issue then?

[2016-11-21 18:34] sfrooster commented on #198
Closing in favor of #116

[2016-11-21 18:34] #198 closed

[2016-11-24 02:27] sfrooster commented on #142
This is partially covered by #201

[2016-11-28 17:08] #195 closed

[2016-11-30 09:02] dahankzter commented on #13
I don't mind trying out some alpha status stuff as soon as possible :)

[2016-12-05 00:07] #187 closed

[2016-12-05 00:14] #182 closed

[2016-12-06 18:51] #184 closed

[2016-12-14 17:52] kozlovic opened #215 "Durable Queue Subscribers not properly removed from store when leaving the group"
When a member leaves the group (but there are still members on that group), the member is removed from the group in memory but not from the store, which means that for file based stores, after a server restart, the member that left is incorrectly recovered and will consume messages that should be sent to members that would be added later.

Some steps to reproduce would be:
- create a durable queue

[2016-12-14 19:17] mackeyja92 commented on #215
PR seems to have fixed it. thanks @kozlovic

[2016-12-16 22:53] JensRantil commented on #13
@mcqueary Care to share your thoughts on how you plan to solve clustering? Might be interesting and maybe also for you to get some feedback.

[2016-12-16 23:25] JensRantil commented on #13
@mcqueary I know all developers dislike the question, but do you have any idea when cluster support might be added? January? March? June?

[2016-12-19 16:05] #215 closed

[2016-12-21 10:07] JensRantil commented on #13
Also, this issue is in "early development", but i milestone "Needs discussion". Needs milestone update?

[2016-12-21 16:53] #16 closed

[2016-12-21 16:53] #54 closed

[2016-12-26 19:30] JensRantil commented on #13
To partially answer my own questions, [this page states](https://blog.gopheracademy.com/advent-2016/nats/):

[2016-12-26 22:07] kozlovic opened #220 "Should server ignore missed HB doing redelivery for members of a queue group?"
If a queue member crashes (that is, the server does not know that the member is gone), when time comes to redeliver messages (based on member's `AckWait()`), the redelivery is skipped if the server failed to get a heartbeat response from the client.
Since for queue groups, the redelivered message may be sent to any other member, maybe the server should simply ignored the lack of heartbeat response

[2016-12-27 02:35] nemesisqp opened #221 "Crash when cache evict"
this is my log
[code]

[2016-12-27 03:12] kozlovic commented on #221
@nemesisqp Thanks for the report. It's strange because the crash occurs in a place where I did not check for `cMsg` being nil because - and I put comment there - it should not be. There should be at least a message left in that part of code. The case where they all would be removed should be handled at line 2162.
Anyway, I am going to investigate that tomorrow. If you have a way to reproduce this,

[2016-12-27 03:19] nemesisqp commented on #221
I try to reproduce this crash and got one more log, there is one more line `Slow Consumer Detected` when I push around 16k msg nats server crash reliably with bellow log
[code]

[2016-12-27 14:34] nemesisqp commented on #221
It seem stream server will crash when client publisher reach default maxPubAcksInflight (16k) and consumer is slow processing 1 msg/s
How can I config nats streaming server as an shock absorber broker ?  I need it hold around 1 mil msg for queue group of slow consumer

[2016-12-27 17:06] kozlovic commented on #221
@nemesisqp I have been able to reproduce the crash! Working on a fix right now. Thanks again!

[2016-12-27 17:41] kozlovic commented on #221
@nemesisqp I found the bug, it was simply that the list was not properly updated during a lookup, when a message is moved to the end of the list (https://github.com/nats-io/nats-streaming-server/commit/be824fdb52474cb8a63e41b19c8736d0366e6449#diff-66e8d3e0dc21ac3febf69f370f5adad5R2156). If you have a chance to try the fix, that would be much appreciated!.

To answer your previous question, you sho

[2016-12-27 17:55] #221 closed

[2016-12-29 12:00] szank opened #225 "How to set the embedded NATS server options in the config files"
Hi, I have just started testing the nats-steraming.
I have copied the example config file from the readme file, and statrted editing.
I wanted to start two nats-steraming servers on my laptop, so decided to run one with non standart port
running `nats-streaming-server -sc ./config.file -p 4223` and it works well. If i addd
`port: 4332` to the ./config.file the servet still listens on port 4223

An

[2016-12-29 12:38] szank commented on #225
Anyway, I could have written a separate nats config file with the port no, and pass it with the `-c` argument, but this is not very admin friendly.

[2016-12-29 16:55] kozlovic commented on #225
As you know there is two sets of configuration parameters, one set for the NATS server if you embed it, and one set for the NATS Streaming server.

I have testes and you can put the two sets in the same configuration file and provide the same configuration file to both `-sc` and `-c`. Please try and report back.

[2016-12-29 16:57] kozlovic commented on #225
That being said, any command line parameter overrides the ones in the configuration file. So if `port` is specified in the config file and you use `-p xxx` on the command line, this one will take precedence.

[2016-12-29 17:27] szank commented on #225
@kozlovic,
thanks! Passing the same file for the `-sc` and `-c` parameters should do the trick for our use case. I didn't think about that.

[2016-12-29 17:32] kozlovic commented on #225
@szank Me neither until you raised the question ;-)

I am closing the issue for now, feel free to re-open if you have a problem.

[2016-12-29 17:32] #225 closed

[2016-12-30 18:35] kozlovic opened #226 "Issue if subscriber is created with MaxInflight value <= 0"
If an application creates a subscriber with a MaxInflight value <= 0, the server will not be able to send a message to this subscriber and immediately flag it as stalled.
The server (and clients should too) should reject a subscription request with such value.

[2016-12-30 22:27] #226 closed

[2016-12-30 22:27] kozlovic commented on #220
Closed with #224

[2016-12-30 22:27] #220 closed

[2016-12-31 04:52] glycerine opened #229 "pull vs push"
Is nats-streaming-server (n.s.s.) a push or a pull based design?  On its face it appears to be push (update: from the point of view of the consumer), but I haven't gotten to play with it (yet).

For context, the designers of Kafka couldn't make push work for their uses. Discussion below. Does n.s.s. finesse such issues in some way?

p.s. this project needs a shorter name(!)

http://kafka.apache.or

[2017-01-03 01:06] kozlovic opened #230 "Problem with PubAck protocol if content is more than 32 bytes"

[2017-01-03 01:14] kozlovic commented on #229
Similar to Kafka, I guess, so it is both.
Producers send messages to the server (Push). When a subscriber starts, the server will start sending messages to it up to the subscriber's defined MaxInflight (Pull).
Note that when a message is published, and if subscribers are already running, the server will automatically send those messages to the subscribers (again, up to subscriber's MaxInflight).

[2017-01-03 01:14] #229 closed

[2017-01-03 01:24] glycerine commented on #229
From the point of view of the consumer, this is push, not pull.

To me, pull means the consumer polls and requests data that starts from a given offset. This facilitates, for instance, recovering from a crash.

How does a consumer request data from the past in nss?

Thanks Ivan.

[2017-01-03 01:35] kozlovic commented on #229
Yes, when the subscriber starts, it indicates to the server from which point it wants to receive data (message sequence or time delta). This is a pull.

But after the initial start, all messages that follow are pushed from the server - up to MaxInflight. The MaxInflight is used as a flow control mechanism. When server has sent that many messages without receiving acks from the subscriber, it will

[2017-01-03 16:01] glycerine opened #231 "use monotonic time source instead of time.Now()"
Given this:
https://blog.cloudflare.com/how-and-why-the-leap-second-affected-cloudflare-dns/

and the current state of the time.Now() call not being monotonic:
https://github.com/golang/go/blob/29cb72154d3bb3530d8092cc89d35b3ed4f7e9c5/src/runtime/sy\
s_linux_amd64.s#L147

you may wish to prefer this:
https://github.com/glycerine/monotime

and replace calls to `time.Now()` with `time.Unix(0, int64(

[2017-01-03 18:16] kozlovic commented on #231
At a quick glance, I don't think we need that. There may be places where we could/should check for negative values, but most of the time it will be harmless. I will still have a go at places where we do sub time to check.
Note that it seems that nanotime() is not always monotonic on all platforms. I have started to code a quick benchmark and it always fail for me on Mac OS/X Yosemite (with Go 1.6.

[2017-01-03 18:16] #231 closed

[2017-01-03 18:39] glycerine commented on #231
sure, it may not work on all platforms, but best effort seems worth it.  It will prevents bugs on a linux server, for example.

Yep, but that's not a high standard, and represents a fairly cavalier attitude to correctness.

Why require that high-performance systems using nss be subject to unnecessary bugs every so often?

[2017-01-03 19:10] kozlovic commented on #231
Like I said, I will fix places where time.Sub() leading to negative values will cause problems. Since nanotime() is not guaranteed to be correct in all platforms, those fixes would still be required anyway for correctness on all platforms.

As a side note, I don't know how nanotime is implemented in Go, but other languages's version of nano time is supposed to be used just for timing things (elaps

[2017-01-03 19:19] glycerine commented on #231
On linux, it uses the same vdso as clock_gettime(CLOCK_MONOTONIC, &struct timespec)

In Go, on linux, since the CLOCK_MONOTONIC vdso is used, it should be okay across threads. Discussion:
http://stackoverflow.com/questions/4943733/is-clock-monotonic-process-or-thread-specific

[2017-01-03 19:22] glycerine commented on #231
although, depending on release, this may be relevant:
http://stackoverflow.com/questions/3657289/linux-clock-gettimeclock-monotonic-strange-non-monotonic-behavior

[2017-01-03 23:24] kozlovic commented on #231
Well, that proves my point, I think. It is better to fix applications that perform time subtractions and account for possible negative values than rely on `monotime.Now()` since it is not for supported on all platforms and even then, subject to some issues depending the releases. That is, until some cross platform API is provided that gives a monotonic elapsed time.

And I am correct saying that y

[2017-01-09 20:20] kozlovic opened #234 "Client's lock held during checkClientHealth() heartbeat request"
This can cause go routines that try to lock a client object to block for up to `ClientHBTimeout` (which by default is 30 seconds). For instance, say that an application with client ID "me" was connected, and after the HB interval, server tries to send an HB request while at this time, the client disconnected (without closing the connection). If the application restarts right away and tries to conn

[2017-01-12 16:37] #234 closed

[2017-01-15 00:09] kozlovic opened #237 "Continuous message redelivery not honoring subscriber's `AckWait`"
Suppose 5 messages are sent every 200ms. A subscriber with `SetManualAckMode()` and `AckWait(time.Second)` starts and does not acknowledge messages. The first message will be redelivered after 1 second, and other every 200 ms after that as expected. However, after the first redelivery, messages are all redelivered at the same time and after more than the `AckWait` time.

[2017-01-16 19:46] #237 closed

[2017-01-17 05:33] mackeyja92 opened #239 "Panic in file store"
Getting this in my docker container running nats-streaming.

v0.3.6

[code]

[2017-01-17 16:15] kozlovic commented on #239
This was already reported and fixed with: https://github.com/nats-io/nats-streaming-server/pull/222.

[2017-01-17 16:15] #239 closed

[2017-01-21 04:51] mkharibalaji commented on #13
@mcqueary - I am on the same page as @JensRantil - When can we expect this feature ? - Sooner the better !

[2017-01-24 15:17] bjflanne commented on #13
@mkharibalaji @JensRantil -- Saw this and wanted to give you some context: our team is currently in the design phase of Clustering. The timeframe I've heard communicated most recently would be to deliver some beta functionality in the 1st half of this year. Hopefully this helps?

[2017-01-24 22:17] mcqueary commented on #13
@mkharibalaji @JensRantil Fair points all. I have updated the milestone to reflect reality.

As a general statement, clustering in the context of 1:N and N:M data streaming using publish subscribe is not a trivial problem to solve, as we are being reminded of this as we go through the requirements to establish a candidate design. We are actively working through this and have set an internal milest

[2017-01-27 10:00] TomFreeman commented on #168
Is there a benchmark for how many topics NATS Streaming server can support right now?

[2017-02-01 18:19] StarpTech opened #248 "How can I build the server?"
I extract the zip and run `go build` but it throws such errors Thanks!
[code]

[2017-02-01 18:46] kozlovic commented on #248
@StarpTech `go build` with vendor involved is very sensitive to the location of the source. If you already have your go environment setup, you should go into `$GOPATH/src/github.com/nats-io/nats-streaming-server` and build from there. It can't be done from another directory, and the directory must be named `nats-streaming-server`.

If you already have that directory from a previous clone, simply u

[2017-02-01 18:49] StarpTech commented on #248
@kozlovic thanks!

[2017-02-01 18:51] #248 closed

[2017-02-08 14:25] glycerine opened #250 "Q: message size limits or packetize and reassemble?"
Q: To transmit a big file, does nats-streaming chop up and re-assemble messages--like TCP--so that it can avoid over-running internal fixed sized buffers but still handle transmitting an infinite stream?

[2017-02-08 14:28] glycerine opened #251 "Q: FIFO rotation of stored files messages?"
Q: In order to avoid needing infinite storage on disk, does nats-streaming have facility for persisting to disk a fixed size (say 1GB) worth of messages, and then rotating messages FIFO when more come in? (i.e. delete the oldest, save only the newest 1GB worth)

[2017-02-08 14:40] glycerine opened #252 "Q: fsync schedule"
Q: When doing disk based persistence, what kind of fsync schedule is used in nats-streaming?

For example, does n.s.s. fsync after each message or after a fixed time period?

Since an fsync schedule controls durability versus throughput, is there some way to fsync only every so often and still recover from disk in the case of disk corruption (say by writing a checksum/checkpoint to disk and using

[2017-02-08 14:46] glycerine commented on #13
Design wise, I would invite you to consider a TAPIR based design for replication (clustering).
http://syslab.cs.washington.edu/research/tapir/

TAPIR is a recent design (2015), but one that is extremely efficient (while being quorum safe). It does have the advantage also of having working C++ code implementation code available for reference, as well as TLA+ model-checked proofs of protocol correct

[2017-02-08 15:23] c4milo commented on #13
paper link throws 404

[2017-02-08 16:19] kozlovic commented on #250
NATS Streaming is subject to the payload limit imposed by NATS, since NATS is used to communicate between the Streaming server and its clients. The `max_payload` config parameter is the one that set this limit. See for instance at the end of the NATS Server configuration file [here](https://github.com/nats-io/gnatsd#configuration-file).

Note that in Streaming, all messages exchanged between the s

[2017-02-08 16:19] #250 closed

[2017-02-08 16:26] kozlovic commented on #251
Yes, NATS Streaming define [store limits](https://github.com/nats-io/nats-streaming-server#store-limits) that ensures that a given channel is bound. When the limit is reached, older messages are indeed discarded to make room for new ones. For the memory store, you can see that as a ring-buffer.

For file stores, we use what we call file slices. For a given channel, the messages are stored in files

[2017-02-08 16:26] #251 closed

[2017-02-08 16:32] glycerine commented on #250
Ironic. Are there any plans for such?  I mean, plans to actually support streaming (by which I mean, TCP-like capability to fragment and reassemble streams of arbitrary length) in the nats-streaming-server.

[2017-02-08 16:32] kozlovic commented on #252
When the server receives messages from publishers, it may accumulate some, possibly from different channels, then starts processing of those messages. They are persisted and possibly sent to matching subscribers. When the processing of the batch of messages is done, the server calls `MsgStore.Flush()` and `SubStore.Flush()`. This is where `File.Sync` is called on corresponding files. So by default

[2017-02-08 16:32] #252 closed

[2017-02-08 16:34] glycerine commented on #251
Excellent.  I like this design; it sounds super useful.

[2017-02-08 16:35] kozlovic commented on #250
No. The streaming terms comes from the fact that messages are stored in a log (think Kafka, etc.), that can be interpreted as a stream of events, etc..

[2017-02-08 16:39] glycerine commented on #250
Okay. Thanks for filling in the details.

[2017-02-08 16:42] kozlovic commented on #250
No problem. And what I tried to say, is that "Streaming" here should not be interpreted as an uninterrupted stream of bytes. In NATS Streaming, each channel stores messages, not a stream of bytes.

[2017-02-08 16:44] kozlovic commented on #252
Also, we actually had a discussion on that in Slack some time back. The idea of doing a fsync in background was discarded, because then it is a bit pointless since there would not be a way to directly report to the producer that its message did not make it.

And yes, we also use crc32 checksum on each record. They are always computed and stored, and you have the option to disable the checksum on r

[2017-02-08 16:55] glycerine commented on #252
If you don't need to ack to the producer, one way to avoid having to fsync too frequently is to append to the file, every so often, a very unique locator (think 100 bytes, generated once randomly,  but then fixed -- so extremely unlikely to occur by chance, but uniquely locating a good record in the middle of a corrupted file) -- along with a checksum of the previous record.

Then upon failure and

[2017-02-08 17:09] kozlovic commented on #252
Yes but we do ;-) Even when producer is sending asynchronously (that is, the API does not block waiting for the ack or error), the server sends back an ACK for every single message produced.

I see. I guess the marker would have to be written first and fsync'ed so that when recovering the file, the store knows what is a "valid" marker, right? Or is it that this marker is randomly generated but the

[2017-02-08 17:53] glycerine commented on #252
well, the idea is that there's no need to fsync the marker, that's the whole point. the marker just lets you synchronize your read. just in front of the marker is your cryptographic hash of the previous record. once you've located that hash (by means sychronizing your read with the marker/locator), then you can detect corruption. In practice I actually use two hashes, one over the previous record

[2017-02-09 01:03] sfrooster commented on #13
Are you suggesting a TAPIR based distributed message store, or something
else?

On Feb 8, 2017 6:46 AM, "Jason E. Aten, Ph.D." <notifications@github.com>
wrote:

[2017-02-09 05:54] glycerine commented on #13
The ticket called for sharding, replication, and a consistency protocol. Larry mentioned raft, but TAPIR would replace raft and provide for replication and consistency. After that sharding is not difficult. TAPIR claims better throughput AND better latency. It's a distributed txn protocol, which may be overkill, but it will still be faster than running raft or paxos to do consistent replication.

[2017-02-09 06:04] sfrooster commented on #13
I'd suggest you engage them more vigorously than this post.

Many people are interested in an implementation of streaming which is TLA+
provable and of it happens to be better than RAFT, so much the better.

On Feb 8, 2017 9:54 PM, "Jason E. Aten, Ph.D." <notifications@github.com>
wrote:

[2017-02-09 06:12] glycerine commented on #13
Hi Michael,

I'm really not sure what you mean. I'm not offering to work on it myself, just suggesting a nice efficient algorithm if things are still at the design phase.

[2017-02-09 06:31] sfrooster commented on #13
It may be a very useful approach to their problem but your pitch doesn't
offer anything over RAFT, but maybe you don't care. Understand, I'm not
saying TAPIR doesn't offer anything over RAFT, but you're not currently
offering them anything when what they want to do is get to a solution.

On Feb 8, 2017 10:12 PM, "Jason E. Aten, Ph.D." <notifications@github.com>
wrote:

[2017-02-09 06:53] dahankzter commented on #13
Using RAFT or TAPIR is fortunately an entirely internal implementation
detail which means it can be switched at any time later.

tors 9 feb. 2017 kl 07:31 skrev Michael Haan <notifications@github.com>:

[2017-02-27 22:33] kozlovic opened #259 "Since PR#249, sever panics when creating sub(s) on empty channel"
If one starts a subscription on a new channel (for which no message has been stored), the server will panic after a second or two.

[2017-02-27 22:48] #259 closed

[2017-03-02 14:37] peterdeka commented on #13
Apart from clustering, a DB store (MongoDB for example) could provide a simple way to grant a simpler failure recovery in production environments where file binding is less desirable. Thinking about a containerized execution for example, if the nats-streaming (one and only in the VMs cluster) dies, reinstantiation on any VM would be very easy.

[2017-03-03 17:56] kozlovic opened #261 "When durable restarts, server should attempt redelivery before new messages"
When a durable is restarted, if it had pending messages, those are redelivered. However, it is possible that if messages are published to the channel while the durable restarts, that some new messages are delivered before or in-between redelivered messages.
The server should make an attempt at sending pending messages first before allowing new messages to be delivered.

[2017-03-06 18:28] #8 closed

[2017-03-07 01:28] petemiron opened #263 "Shared Storage Fault Tolerance"
## Goals:

1. Provide a durable messaging solution with server fault tolerance.

## Requirements

1. This solution assumes a FileStore NATS Streaming configuration with a shared, replicated set of physical disks, logically mounted by multiple servers (e.g. an NFS Mount (Gluster in Google Cloud or EFS in Amazon). MemStore can not be used in the Shared Storage Fault Tolerant solution.
1. A Group of

[2017-03-07 01:33] petemiron commented on #13
We're decomposing this issue into multiple requirements starting with #263, partitioning (sharding) and NATS Streaming managed replication will follow as we flesh out the requirements. Please review and give us your feedback on that issue. This should take into account many of the suggestions thus far with leader election and should not prevent anyone from adding one of the DB-based file stores su

[2017-03-07 03:57] sfrooster commented on #263
What's the expected performance for this solution?  I know that's difficult to answer, but I'd recommend (and personally appreciate, even help contribute to) a MongoDB implementation along side what is proposed above.  This has lots of benefits (one being price) and, I believe, has the possibility to be equally if not more interesting to the community.  I could also be thinking only of myself - ha

[2017-03-07 19:41] kozlovic commented on #70
Closing this ticket since behavior of server is expected given the fact that there is no direct connection. Also PR #219 made the heartbeats configurable so one can reduce the time the server may try to send messages to "disconnected" clients.

[2017-03-07 19:41] #70 closed

[2017-03-07 19:45] kozlovic commented on #263
@sfrooster The storage is independent of this feature. The goal here is to have servers that are ready to take over when the active process failed. The storage is shared, it can be file store (the only persistent store that we have at the moment) or a database if an implementation becomes available. The behavior will remain the same: only one server will write/read from the storage.

[2017-03-07 23:19] #261 closed

[2017-03-13 18:29] foobargeez opened #266 "Historical data related questions"
I am currently developing an application (with a mobile app as frontend) that will have a "feed" like functionality (feed is simply a bunch of JSON documents starting with most recent and delivered in batches, when the mobile requests for more data).  Note that I do not need to track the client state (read/unread/something else).  I do not know if NATS streaming is a good fit for my requirement an

[2017-03-13 20:13] kozlovic commented on #266
@foobargeez
* At this point, you are right that the server is either using a memory or file based store, not a mix. Actually, the file store has a small cache that is not really configurable and allow to keep recently stored messages in memory: this is so that when the server stores a messages and right away send it to matching consumers, messages do not need to be read from disk.
* When a consume

[2017-03-13 20:13] #266 closed

[2017-03-20 17:10] petemiron commented on #263
Removed quorum requirement, as solution for fault tolerance should be able to be started with a single instance.

(removed: 1. An administrator must be able to configure the target group size. Quorum will be determined by (Group Size / 2) +1 and the cluster will not begin operations until Quorum is met.)

[2017-03-21 22:47] ColinSullivan1 opened #271 "Support partitioning by channel"
A cluster of NATS streaming servers should be able to distribute work through horizontally partitioning channels.  Each server in a cluster can service a set of channels.  This will increase performance and allow users to scale NATS streaming.

Requirements:
* Allow multiple active servers using the same cluster ID.
* A channel can be serviced by exactly one streaming server at a time.

Discussion

[2017-03-23 18:10] kozlovic commented on #271
@ColinSullivan1 I would vote for channel assignments being static for this feature. There could be a global flag that instructs the server to only subscribe to a given list of channels (that would reduce traffic, etc). The list could be given through the store limits configuration section (see https://github.com/nats-io/nats-streaming-server/pull/265 also for background, except that we would not d

[2017-03-23 19:23] ColinSullivan1 commented on #271
@kozlovic It would be nice if a configuration could be shared.  If servers were named, the configuration could have server specific lists of channels, and it'd be simple to check for overlaps.  With each cluster member having all information, we could support the equivalent of wildcards in the configuration (superseded by explicit channels).  That way one could say server A handles `foo` and `bar`

[2017-03-23 19:33] kozlovic commented on #271
That would open the door to issues where C starts to handle subject X and then X is later added to A or B, and then you have a problem.
Already servers checking that its list is not overlapping with another server in the "cluster" is not that simple. First, the check would be made only on startup, and due to NATS message payload limitation, we may need to split the list in many messages, etc..
I s

[2017-03-23 19:47] ColinSullivan1 commented on #271
I agree, it could pose headaches if there an implicit agreement that a server would service a channel that a user might want to explicitly list later.  I think it'd be useful to to get input from the community to see if static lists would be acceptable, or if a server should be the overflow for unspecified channels, in case users dynamically create subjects.  Wildcard support in the configuration

[2017-03-23 19:53] kozlovic commented on #271
But having a servicing "all others" is difficult and I believe not with the scope of this ER. By that I mean that the server would have to know each other server's configuration. And that means that if one of the server in the cluster is not present or started later, we would again end-up with duplicated channels.
Also, the idea that a server would explicitly listen to only the set of static chann

[2017-03-23 19:56] ColinSullivan1 commented on #271
Perhaps starting simple is best, and we can begin with static.  I wouldn't think there'd be design decisions supporting static that would preclude supporting dynamic in the future if it becomes a requirement.

[2017-03-31 16:49] #263 closed

[2017-03-31 19:46] petemiron commented on #62
Fixed in PR #274

[2017-03-31 19:46] #62 closed

[2017-04-01 17:12] kozlovic opened #275 "Ability to specify values as bytes (e.g 1MB) for command line params expecting a size"
The server already allows specifying values as bytes in the configuration file, but not the command line parameters.

For instance, it would be nicer to start the server with:
[code]
than having to specify
[code]

[2017-04-01 17:16] kozlovic opened #276 "Server does not fail to start if any negative store limit is specified"
The server should not start if one provides a negative store limit.

[2017-04-03 15:21] #276 closed

[2017-04-03 15:29] #275 closed

[2017-04-03 18:30] kozlovic opened #280 "Per channel config does not reject wildcard channels"
Wildcards in channel names are not supported at this time, even when it comes to configuration.
However, the server is not rejecting channels with such name.
Consider the following configuration:
[code]
On startup, the channel `foo.*` is displayed with the given limit:
[code]
However, one can publish more messages than that. It is because since there is no wildcard support, the limit for `foo.*` i

[2017-04-03 20:31] #280 closed

[2017-04-04 07:07] golang101 commented on #168
@mcqueary
Is there a limit for the number of topics?

[2017-04-04 14:53] kozlovic commented on #168
Regarding the use of `--file_fds_limit`, just note that this is available in master but not in the latest release (v0.3.8).

[2017-04-05 03:21] Go101 commented on #168
@Go101
for chat room and game instance servers, the topic number is uncertain.
But I think for a single physics server, two thousands concurrent topics are enough.
But the two thousands concurrent topics may be vary from time to time,
in other words, some old topics would become inactive.
Does nats-streaming support closing/deleting topics dynamically at run time, without restart server?

[2017-04-05 16:30] ColinSullivan1 commented on #168
@Go101 , Absolutely - happy to help.

Two thousand topics shouldn't pose any problems for you.

Assuming you are using a file store, the NATS streaming server won't automatically clear up old topics (channels), although you can manage the disk space it uses.  NATS streaming has the concept of slices, where persisted messages are rolled off into other files based on limits you define.  You can defi

[2017-04-06 00:10] Go101 commented on #168
Thanks for the answer.

[2017-04-06 09:59] TomFreeman commented on #168
@ColinSullivan1 we're still making architectural decisions etc... so the number of topics is a bit flexible. Ultimately it'll be millions in our ideal (simplest architecture) setup.

But I ask for two reasons, one is to know where the current status-quo is, but the other is to be able to measure the progress of any work towards supporting millions.

[2017-04-07 10:08] foobargeez commented on #10
Hello,
I have a similar requirement.  More specifically, I am looking for the consumers to just receive the last message in a subscribed channel/topic.  I would have ideally preferred to just set the maximum number of messages in a given channel/topic to 1 but, per my understanding of the docs so far, per-channel max msg configuration isn't a possibility (please correct me if that is wrong).

Than

[2017-04-07 15:06] kozlovic commented on #10
@foobargeez You can have your subscriber receive messages starting with the last message in the channel. It is an option when creating the subscription. For example, in Go it would be:
[code]
As for your question about overriding a specific channel limit, yes you can. Please check [this](https://github.com/nats-io/nats-streaming-server#store-limits).

[2017-04-08 07:57] joeblew99 commented on #263
The current design assumes a NAS or SAN backing the NATS streaming server ?

[2017-04-08 14:27] kozlovic commented on #263
@joeblew99 In Fault Tolerance mode, yes. Data is not replicated, all servers point to the same shared storage. There is only one active server accessing the store and servicing clients. Standby servers are just there to take over should the active server fail.

A bit of documentation can be found [here](https://github.com/nats-io/nats-streaming-server#fault-tolerance) and [here](https://github.com

[2017-04-12 09:19] liebo opened #290 "any schedule for virtual destination and wildcards?"
for example, subscribe to virtual destination like foo.*, and if message is published to destination foo.a and foo.b, both message will be consumed.

[2017-04-12 19:12] kozlovic commented on #290
There have been talks, but I believe that providing this feature with current server implementation would be very difficult.

[2017-04-13 06:44] liebo commented on #290
Understood. actually I am thinking about a quick alternative using server filtering: Giving a channel foo, there will be foo.a and foo.b messages in this channel. if a client subscribe foo.a, the server will filter foo.b for this client. Is it reasonable?

[2017-04-13 15:30] kozlovic commented on #290
I don't see how this would be easier to implement ;-). We are not saying categorically no to wildcard subscriptions. All we know, is it would be difficult to implement and may require some protocol changes. We need to internally review and specify what it would mean. But my guess is that this is not a feature that would be added quickly, if that helps for your planning.

[2017-04-14 22:00] kozlovic opened #292 "If a global limit is set to 0 (unlimited), server fails to start if a channel has a non zero limit"
Prior to `v0.4.0`, the server was not checking limit errors and would incorrectly not report negative values. However, it had a positive side effect of allowing (as it should) a per-channel limit to be non zero if a global limit was set to 0. For instance this fails with `v0.4.0`
[code]
but should be allowed since we explicitly set the global limit for max_msgs to unlimited, but want to override f

[2017-04-14 22:14] kozlovic opened #294 "Remove the version number from the name of the executable"
When a new release is issued, the zip file contains a directory with the version name, which is fine, however, the executable also contains the version number. It should not.

[2017-04-14 22:22] #294 closed

[2017-04-14 22:27] #292 closed

[2017-04-15 00:41] kozlovic opened #296 "Allow Per-Channel limit to override (high or low) the corresponding global limit"
It is possible to define a channel that has a lower limit that the corresponding global limit. However, it is not possible to increase or even set a channel limit to unlimited.

Suppose that a server is known to handle a channel that needs to store a high number of messages. It forces the admin to set the global limits to cover this demand. However, it allows any non specified channel to be create

[2017-04-15 01:06] #296 closed

[2017-04-19 14:57] jottinger commented on #116
It would also be nice to be able to see unacknowledged or unconsumed messages (and requeue them if consumption is greedy)

[2017-04-20 13:29] ryanhmasten commented on #13
From what I can see on https://github.com/nats-io/nats-streaming-server it says the NATS Streaming server supports connecting to a cluster of NATS servers but when I try it doesn't work. It appears to connect to both the cluster of servers but then streaming clients cannot connect to the NATS Streaming server. Do you have any examples or steps to make it work? Essentially what I'd like is two stre

[2017-04-20 14:39] joeblew99 commented on #263
@kozlovic ok understood.
NAS and SAN is going to rule out allot of potential topology use cases. Not many infrastructures have this or want to have it too :)

I wonder if you have considered Minio ? I wont state its properties here as i read that NATS with Minio has been done, so you know what it can and cant do.

[2017-04-24 18:00] joeblew99 opened #301 "Message reordering"
Is there any ability to do this.
I ask because i have a system for real time streaming collaboration and rather than rely on network clocks i use the context of the message received on the server to slot it ahead or behind other messages in the queue.

[2017-04-24 18:03] joeblew99 commented on #301
Btw does "Last Value Semantics" have a bearing on this ?
The quoted term is written in the readme but i could not see any clear explanation of what it is.
Am curious :)

[2017-04-24 19:11] kozlovic commented on #301
I am not sure what you are asking here. Messages are stored in the channel's message log as they arrive. A message timestamp is assigned when it stored in the server.

The last value means that when you create a subscription, you need to specify a start position in the stream. One of the option (in Go, that would be `StartWithLastReceived()`) is to start receiving from the last message that is cur

[2017-04-25 09:21] joeblew99 commented on #301
its because the mobiles time stma their mutations and send them in, but i
need to reorder them because i am doing Operational Transforms for
collaboration use cae
its ok i can do it before it hits NATS i think

On Mon, Apr 24, 2017 at 9:11 PM Ivan Kozlovic <notifications@github.com>
wrote:

[2017-04-25 15:17] kozlovic commented on #301
Ok, let us know if you have additional questions.

[2017-04-25 15:17] #301 closed

[2017-05-01 02:58] codmajik opened #304 "Stream/Topic Discovery"
Since nss can't support wildcard (#290) with current implementation.

I think providing an api to fetch all available streams (ie topics) in the cluster would probably serve most uses cases. The client can then just subscribe to them.

It could be a special topic that would be polled or subscribed to.

[2017-05-01 14:51] kozlovic commented on #304
This would be covered in #116, would you agree? If so, I will close this issue in favor of #116. Thanks!

[2017-05-01 17:16] codmajik commented on #304
Yes, it is covered.

[2017-05-01 17:16] #304 closed

[2017-05-08 18:35] #271 closed

[2017-05-10 22:54] kozlovic commented on #116
Here are some proposed endpoints and what data would look like. Would appreciate some feedback.

Server endpoint returns some basic info about the server. Note the use of versioning in case we later need to change the content.
[code]
Same for store endpoint:
[code]
Clients endpoint would simply list the clients
[code]
But adding `?subs=1` would then include the subscriptions per client.
[code]
The

[2017-05-11 09:09] ganesh-karthick opened #309 "Better error message on Connection failure"
When connecting to nats-streaming-server  from go client with a wrong cluster id , Go client returns an error
[code]
A better error message would help in debugging.

[2017-05-11 14:50] kozlovic commented on #309
If you provide a cluster ID not used by any of the servers in the network, no server will respond to the client, hence the timeout error message from the client library. If anything, this is an error message that needs to be updated in the client libraries, not in the server.

[2017-05-11 14:50] #309 closed

[2017-05-11 18:40] kozlovic commented on #116
@timmartin19 @sfrooster If you could have a look to see if the above is a good start? Thanks!

[2017-05-12 13:39] m4ce opened #310 "Embedded NATS monitoring port"
Hi,

I've noticed that when running the streaming server with the embedded NATS instance, the monitoring http port doesn't seem to work when specified.

[code]

I've also tried monitor_port, http etc. but none of these seem to work. The NATS server runs okay but it doesn't seem to create a listening socket on that port.

[2017-05-12 19:28] kozlovic opened #311 "Ability to pass a consolidated configuration file with a single command line option"
Both NATS and NATS Streaming have their own configuration files and are given in the command line with `-c` and `-sc` respectively.

Since configuration parsing ignores unknown parameters, it should be possible to have both configurations consolidated in the same file, and, for convenience, being able to specify only `-c` or `-sc`.

If only one of the command line parameters is specified, the serv

[2017-05-12 19:30] kozlovic commented on #310
First, keep in mind that so far, there is no monitoring specific to NATS Streaming. What you would get with the embedded NATS monitoring http server are stats related to NATS itself. Issue #116 that is in the works will bring Streaming specific metrics monitoring.

Regardless, since monitoring is actually triggered by NATS code, you need to pass this config through the NATS settings (`-c`). The co

[2017-05-15 09:31] m4ce commented on #310
@kozlovic, thanks for the feedback. I will try your suggestions and wait for the new release with regards to monitoring NATS streaming.

[2017-05-15 09:31] #310 closed

[2017-05-15 13:43] timmartin19 commented on #116
I don't know if I'm just being stupid but `ack_wait` seems confusing for me.  Is it a count or a timeout?  It seems like it's a count.  Also, what's included in the `pending_count`?

[2017-05-15 14:54] kozlovic commented on #116
`ack_wait` is the equivalent of the subscription's option `AckWait()` which is the number of seconds before the server would redeliver a message if the consumer has not acknowledged it.

`pending_count` would be the number of messages sent to this subscription that the server has not received acknowledgement for.

[2017-05-16 01:11] #311 closed

[2017-05-16 13:07] kristianmandrup opened #314 "How can we use NATS streaming from node/hemera services?"
We have a hemera service which generates a stream as output and looking to exploit the NATS streaming server. Any examples or docs for this?

Thanks :)

https://github.com/devongovett/node-wkhtmltopdf#usage

[code]

Somehow use this stream it with NATS streaming and hemera...

[code]

[2017-05-16 15:12] kozlovic commented on #314
We have a node streaming client, did you have a look? https://github.com/nats-io/node-nats-streaming

[2017-05-16 16:27] kristianmandrup commented on #314
Great! Didn't notice any reference, but maybe since it is WIP. How long till it is out of incubation?
Can it be used now for basic usage?
Cheers :)

[2017-05-16 16:35] kozlovic commented on #314
I will let the owner of the repo that he should probably remove the WIP ;-) There are already releases and people have been using it. Of course, any issue that you find, please file a GH issue. Thanks!

[2017-05-16 16:35] #314 closed

[2017-05-16 16:35] kristianmandrup commented on #314
Awesome thanks :)

[2017-05-24 19:57] ColinSullivan1 commented on #168
@TomFreeman , In work toward supporting millions of subjects, I suggest taking a look at [Partitioning](https://github.com/nats-io/nats-streaming-server#partitioning), where you can partition your subject namespace across a number of NATS streaming servers to horizontally scale.

[2017-05-25 16:33] expelledboy opened #316 "Let's Talk About Clustering"
If there currently is no public discussion occurring around this topic, I would like to open the forum! :)

Following on from nats-io/node-nats-streaming#46

Just to re-iterate what has already been discussed.

Currently nats-streaming-server supports clustering mechanisms such as [Fault Tolerance](https://github.com/nats-io/nats-streaming-server#fault-tolerance) and [Partitioning](https://github.

[2017-05-25 21:50] ColinSullivan1 commented on #316
@expelledboy , thank you for creating this issue and opening the forum!

Some research has been done around using CockroachDB, but that was under a different context and discarded due to performance considerations.  That being said, it may work for a store where performance is not a requirement, but scalability is.

Stepping back to requirements, I can see something like this as addressing the IoT

[2017-05-26 11:38] expelledboy commented on #316
Never heard of CockroachDB, looks like its going to be a solid product in a couple of years. Imagine you picked CockroachDB, could you provide a brief overview of how you would integrate it?

Have you considered scylladb?

[2017-05-27 10:54] StarpTech commented on #178
@kozlovic would cluster mode work as expected when I connect as a nats client?

[2017-05-27 10:56] StarpTech commented on #178
@kozlovic has been clarified https://github.com/nats-io/nats-streaming-server#clustering thanks.

[2017-05-30 11:05] codmajik commented on #316
@ColinSullivan1 @expelledboy  Have you considered [BoltDB](https://github.com/boltdb/bolt/).

[2017-05-30 22:30] ColinSullivan1 commented on #316
@codmajik , @expelledboy , Thank you for the suggestions.  IMO both have their merits.  BoltDB could provide the scalability requirement and would likely perform well, but users would still have to craft their own backup solution.  This sounds like a great option for scaling with fault tolerance / availability features we have today - an alternative to the file based option we have today.  From a

[2017-05-30 22:53] kozlovic commented on #316
@ColinSullivan1 very well summarized.

To make sure we are on the same page, if we talk about adding a DB store with current Streaming design, either Standalone or with Channels partitioning, the store is still accessed by a single Streaming server at a given time. The FT case requires that the storage be accessible by servers in the same FT group, but only 1 server is active in the group. The sto

[2017-05-31 00:00] expelledboy commented on #316
@kozlovic Thank you. This is more what I wanted to know. Sounds like you have a good idea of what needs to be done, but more specifically what DB features are necessary, or "nice to have". With a spec we can evaluate the options?

[2017-06-05 21:31] vl409 opened #318 "Possbile endless loop in memstore/expireMsgs"
It looks like 'return' statement  is missing here:
https://github.com/nats-io/nats-streaming-server/blob/master/stores/memstore.go#L194
If the 1st message falls under condition, no progress is made in the loop:
elapsed is not updated, as well as current time (calculated before entering the loop).

[2017-06-06 07:52] kozlovic commented on #318
You are right, it is the same for the file store implementation.
This test was to protect against time clock going backward, but clearly, the return statement is missing.
PR coming! Thanks a lot for the report.

[2017-06-06 10:30] #318 closed

[2017-06-08 16:09] #116 closed

[2017-06-08 16:10] petemiron opened #320 "Add streaming links to root monitoring page."
When applicable, the monitoring server should display links to all applicable monitoring endpoints in `/streaming/`.

[2017-06-12 18:59] aricart opened #322 "shadow subscriber fatals the server"
The server for some reason added more than one shadow subscriber to its internal state. This makes it impossible for the server to start.

`
[12176] 2017/06/12 13:42:29.336373 [INF] STREAM: Failed to start: there should be only one shadow subscriber for ["backend-durable:remove-bubble-group"] queue group
panic: there should be only one shadow subscriber for ["backend-durable:remove-bubble-group"]

[2017-06-12 19:00] aricart commented on #322
[stan-crashes-on-this-file-storage.tar.gz](https://github.com/nats-io/nats-streaming-server/files/1069222/stan-crashes-on-this-file-storage.tar.gz)

To start the server:

`nats-streaming-server -cid dev-bh-backend -st FILE -dir <pathToExtractedStoreDir>`

[2017-06-13 19:51] clanstyles opened #323 "Nats Mirror Maker"
Does nats or nats streaming server have anything like Kafka Mirror Maker? I'm looking to push the traffic from smaller "edge" regions to the primary nats server that does all the processing.

[2017-06-14 14:46] firrae opened #324 "Feature Request: Delayed Messages"
Hi there,

I originally opened this idea up on the main [gnatsd repo](https://github.com/nats-io/gnatsd/issues/514#issuecomment-308137209) but it was mentioned that it may be better suited as a part of NATS Streaming. I'll copy and paste my original request here:

I since then mentioned that Amazon SQS has a feature that allows this in [message timers](http://docs.aws.amazon.com/AWSSimpleQueueServ

[2017-06-20 18:48] antonkhabaiev opened #326 "Monitoring routes returns 404"
I've started nats-streaming-server with "-m 8444" args, and it would give me a
"[1] 2017/06/20 17:18:48.882315 [INF] Starting http monitor on 0.0.0.0:8444"
Per documentation
https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2Fnats-io%2Fnats-streaming-server%23enabling&sa=D&sntz=1&usg=AFQjCNHUpUK61Nsqa60J2qb9tUSSo2NJ6w

But then when I go to http://localhost:8444 I see regular nats monitoring,

[2017-06-20 19:02] rogeriofza opened #327 "Intermittent results - Increasing or Large number of subscribers with stan-bench not working"
I am presently utilizing the **stan-bench.go** benchmarking example utility with **nats-streaming-server-v0.4.0-darwin-amd64** on my MacBook Pro locally.

Start up of NATS streaming server is as follows:
`./nats-streaming-server-v0.4.0 -m 8222 -msu 0 --file_fds_limit 500 -D`

This server starts up fine.

I then hop over to the stan-bench utility and try to simply run 1 msg (68 bytes) using 1 publi

[2017-06-21 06:47] danbopes opened #328 "Duplication detection of messages"
De-duplication of messages allows clients to have multiple publishers submitting the same message multiple times, and in the case of a publisher failure, the other can still continue adding messages to the queue.

Azure service bus currently implements this with a MessageID header that's provided with each message added. Based on a provided timespan configuration of the queue or topic, it will loo

[2017-06-27 15:12] #322 closed

[2017-06-27 17:19] kozlovic commented on #323
No, but as I understand it, the Kafka MirrorMaker is simply a consumer/producer tool that sucks messages from one cluster and publishes to another cluster (I am probably oversimplifying).

With `v0.5.0` coming today (and already in master), you will be able to get the list of channels using monitoring ports. You could have an application connecting to a cluster, getting all channels and creating s

[2017-06-27 17:19] #323 closed

[2017-06-27 17:56] kozlovic commented on #324
The issue I have with this is that the delay is on a per message/producer basis, which means that a channel's message log may have messages with different delayed values (set or not). From a subscriber's perspective, when starting to consume, I wonder if that makes sense to have messages that are in the log that are not consumed in sequence. Of course, redelivery causes messages to be received out

[2017-06-27 18:03] kozlovic commented on #328
The client library internally creates a unique ID per message. This is used by the server to send an ack back to the client, and used by the client to match the ack back to a publish call.

Unfortunately, this is internal, so any `Publish()` call of the "same message" (from an application perspective) would result in a new ID. We would need to introduce a new field in the protocol message, or be a

[2017-06-28 21:42] kozlovic commented on #326
The release v0.5.0 with monitoring is now available. This should resolve your issue. https://hub.docker.com/_/nats-streaming/

[2017-06-28 21:42] #326 closed

[2017-06-29 21:12] kozlovic opened #333 "Issue with TLS config introduced by PR #312"
When providing only one configuration file, say `-sc c.conf`, the server now applies the config file to both the streaming and nats modules. The idea was to be able to consolidate all config in a single file for usability.
Unfortunately, the `tls` config section of streaming contains a param (`client_key`) that is unknown to the nats server configuration parser. So when the file is given to nats,

[2017-06-30 17:23] kozlovic opened #334 "Fix cross compile script to statically link all executables"
See https://github.com/nats-io/gnatsd/issues/470

[2017-06-30 21:24] #334 closed

[2017-07-06 16:02] tylertreat commented on #328
For some additional perspective, this is how Amazon SQS implements [exactly-once processing](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-exactly-once-processing) with their FIFO queues. They dedupe using one of two strategies: content-based deduplication by computing a SHA-256 hash of the message contents or user-provided dedupe id on mess

[2017-07-06 16:05] kozlovic commented on #328
@tylertreat That would not solve the problem that on recovery, the server would have to "load" either a NUID or something that can be used by the dedupe code at runtime. Which, as I said, would still require changes that would be backward incompatible (that's ok, but need to be noted).

[2017-07-06 16:07] tylertreat commented on #328
Yes, the dedupe filter would need to be persisted. What changes would be backward incompatible though? Seems like it's just extending the `Store` interface?

[2017-07-06 16:09] kozlovic commented on #328
Existing data stores. If we put this value in the index file, then the structure changes and older version of NATS Streaming would fail to read it. If we have it part of the MsgProto that is saved in the data files, then it means that the server would have to recover the data, which is costly.

[2017-07-06 16:11] kozlovic commented on #328
And even, we would need a tool to move say 0.5.0 data stores to say 0.6.0 so that the index files contain the new field. After that, servers prior to 0.6.0 would not be able to read the store.

[2017-07-06 16:12] tylertreat commented on #316
FYI I am in the very early stages of beginning clustering work. The plan is to not push replication responsibility onto the persistence layer and instead implement a Raft-based replication protocol in NATS Streaming.

[2017-07-07 14:16] firrae commented on #324
Sorry for the delay in response.

Personally, I was hoping to find a solution that allows me to pass the time to deliver, or the delay before delivering, when creating the message on the publish message similar to [AWS SQS's Message Timers](http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-timers.html). I'm not 100% sure how they do it, and I realize they are a

[2017-07-19 14:26] tylertreat opened #340 "Proposal: Support Wildcard Semantics"
There is strong demand for supporting wildcard semantics in NATS Streaming. I want to put forth a proposal that I think would cover the majority of these cases. This is related to https://github.com/nats-io/nats-streaming-server/issues/290.

My thought is subscribing to a wildcard channel, e.g. `foo.*`, should in effect create a new channel (in practice, this might not be implemented as a channel,

[2017-07-19 14:30] nikhildaga commented on #340
Very well put, thank you!

[2017-07-20 04:00] jack0 commented on #340
This sounds great Tyler. One question, with this proposed implementation, would the client specify its own subscription options on `foo.*` or would it maintain the options from the existing subscriptions for that each subscription matching the wildcard?

In your example, let `foo.bar` and `foo.baz` both be queue groups that have manual acks enabled and `foo.bar` has max unacked messages inflight s

[2017-07-20 04:08] jack0 commented on #328
There were two works recently published which discusses two different methods of exactly once delivery in Kafka. It could be an interesting topic of discussion.

[1] https://segment.com/blog/exactly-once-delivery/
[2] https://cwiki.apache.org/confluence/display/KAFKA/KIP-98+-+Exactly+Once+Delivery+and+Transactional+Messaging#KIP-98-ExactlyOnceDeliveryandTransactionalMessaging-IdempotentProducerGua

[2017-07-20 19:15] #333 closed

[2017-07-20 22:46] kozlovic commented on #340
@jack0 The idea is that the very first subscription that would cause the wildcard channel to exist would have its start sequence ignored (that is, would be considered as NewOnly). The channel would then be created and be a sink for all new message of matching channels.
Later on, if a subscription on existing wildcard channel is created, the subscription would work as any subscription, with working

[2017-07-20 23:29] jack0 commented on #340
That makes perfect sense, thank you @kozlovic for your explanation. I had imagined that the wildcard subscription would act as a forwarding agent for channels that matched the wildcard name and not necessarily as a standalone channel.

[2017-07-20 23:30] kozlovic commented on #340
Again, this is just a proposal, but implementing this way would solve all the problems about ordering, redelivery, etc.. since it behaves as a regular channel in relation to subscriptions.

[2017-07-21 02:03] tylertreat commented on #340
One problem @aricart raised was the potential for write amplification. For example, imagine a subscription to `>`. This would cause every message sent into the system to be copied into this wildcard channel. One option might be to store a pointer to the original message, but I imagine this would be problematic with log truncation. Another option might be to use some sort of reference counting, but

[2017-07-25 03:47] klrkdekira opened #344 "Instance panicks periodically"
Hi folks,

My production instance of nats-streaming panicks every few day.
I'm still investigating this but I'm filing this first just in case you folks know what happened.

The deployment environment is as follow.
The said problematic instance is deployed as a Stateful Set at Kubernetes 1.5,
using docker image nats-streaming:0.5.0.
The file storage is mounted at Kubernetes NFS Volume.

It might b

[2017-07-25 15:04] kozlovic commented on #344
Thanks for the report. I am having a look and will keep you updated.

[2017-07-25 18:55] Ubloobok commented on #324
I think, delayed message it's really usefull thing for the scenarios like as send sms/email, or any other notification at concrete time. Alternative way - regular job which selects notifications by planned time and sends them - seems like a crooked nail.

[2017-07-26 01:11] kozlovic commented on #344
@klrkdekira Thank you for the report. I think I have found the reason for the panic and have a PR (#345) opened. If you want to try and see if it solves your issue, that would be great.

[2017-07-26 01:12] #344 closed

[2017-07-26 12:25] l3x commented on #324
From a high level, NATS supports three messaging patterns, right?

   - Queueing
   - Request-Reply
   - Publish-Subscribe

Using the first two for delayed messages would be using the wrong hammer,
which would result in crooked nails.

Seems like a small layer of use case logic above the pub/sub pattern
infrastructure would be the appropriate place to handle message timers.

On Tue, Jul 25, 2017 a

[2017-07-26 15:26] aricart commented on #324
I think the idea of having a messaging client that performs some action with some delay is extremely useful. I actually implemented a commercial version on a different technology many years ago. My contention is whether scheduling is a ‘principal’ functionality for a messaging server or a service that uses messaging.

IMHO, the messaging server really should only be preoccupied with storage and di

[2017-07-26 23:13] ColinSullivan1 commented on #324
Would functionality similar to the delay queues in Amazon SQS meet your use cases?

That would still guarantee source order delivery while providing a delay, although granularity would be at the subject, not per message.

[2017-07-27 14:05] firrae commented on #324
@ColinSullivan1 that is a form that would work well with my use case. Our cloud version will likely utilize that, but our on prem version needs its own local queue service as it'll be running behind a clients firewall with little to no external access.

[2017-07-28 03:30] klrkdekira commented on #344
It runs fine for 2 days now. Thanks.

[2017-07-28 15:13] kozlovic commented on #344
Glad to hear that fixed the issue. Thanks!

[2017-07-28 17:15] erwinvaneyk commented on #340
@kozlovic I already like your proposal a lot. It would be great to have wildcard support in NATS streaming. However, there is the issue (to me) of being unable replay events before the 'foo.*' creation. Another issue @tylertreat mentioned is the write amplification. Besides the performance impact of duplicating all messages, you might also run into inconsistencies, as the message might be deleted

[2017-08-01 15:23] tylertreat commented on #340
@erwinvaneyk As @kozlovic mentioned in Slack, if we were to use this approach,  what would the initial sequence id mean when making a subscription to a wildcard subject in this case? What would you do here?

[2017-08-01 15:56] kozlovic commented on #340
I can see how not being able to get older messages and amplification of writes can be an issue, the problem with the approach where server does not create a "sink" channel are many:
- What does the start sequence (when creating the wildcard subscription) means? Say you create a subscription with `StartAt(3)`? Does it mean that the server needs to use this start sequence for each matching channel?

[2017-08-03 19:54] kozlovic opened #355 "Online durable subscription appears twice in Channelsz monitor endpoint"
Start server with monitor port.
Start a durable subscription.
Check endpoint: `http://localhost:8222/streaming/channelsz?subs=1`, you will see that there are 2 identical subscriptions.
Close the durable (not unsubscribe),
Check again, you will see 1 subscription (normal, although should indicate that it is offline).
Unsubscribe, no subscription as expected.

[2017-08-03 21:41] #355 closed

[2017-08-07 11:51] arunkjn opened #357 "Dynamic channels performance"
Hi,

I was planning to use nats streaming as a messaging solution in a microservice architecture. My solution will require me to create a large number of channels dynamically. I wanted to know if there is some limit on the number of channels that can be supported? Or can it be just increased by adding more storage. Also is there any loss in performance with growing number of channels?

[2017-08-07 15:09] kozlovic commented on #357
Thank you for your interest!

Could you qualify "large"? Assuming that you would use a streaming server with persistence (the FileStore implementation is the only available at the moment), each channel requires file descriptors. We have added the ability to limit the server to a given number of file descriptors, but it does impact performance since files may need to be opened/closed, etc..

Again,

[2017-08-07 18:11] kozlovic opened #358 "Proposal: Support Deletion of a Channel"
Right now, it is impossible to delete a channel.

For FileStore, one can stop the server and delete the sub directory
corresponding to the channel, then restart the server. But this
causes downtime.

A proposal would be to allow deletion of a channel with following
restrictions:
- The deletion of the channel would be done through the monitoring
endpoint, such as `https://localhost:8222/channelsz?c

[2017-08-07 18:12] kozlovic commented on #290
Closing this issue and use #340 instead for tracking and feedback.

[2017-08-07 18:12] #290 closed

[2017-08-07 18:21] kozlovic commented on #327
Sorry for the delay in getting back to you. I don't see such problem with such a small number of subscribers. But keep in mind that `stan-bench.go` creates an individual connection per subscription. It means that there will be 100+ connections to the NATS Server. The NATS Streaming Server also has 2 connections to the server. Each connection will consume 2 FDs (one on each end since you are runnin

[2017-08-08 12:01] arunkjn commented on #357
Thanks for your reply.

The number of channels could be in the order of few thousands. They also have a lifecycle which can span from days to months (long lived) or minutes (short lived). Channel management apis like deletion would be helpful here.

We are planning to implement a workflow orchestration service in which a workflow would comprise of a directed acyclic graph in which each node is an

[2017-08-08 14:23] kozlovic commented on #357
Again, limitation for now is on file descriptors and disk access. Few thousands channels may be doable depending on your resources, you would have to experiment there.

The next issue I can see is this:

As of now, there is no support for subscriptions on wildcards (although there are talks on how we would do that #340). Are the channels known a priori by the workflow service? Without wildcard sub

[2017-08-08 20:07] arunkjn commented on #357
I was thinking of the workflow service as one logical service which has multiple instances managing a set of workflows. Since each workflow would have a dedicated topic, any instance would need to create only as many subscriptions as the number of workflows it is managing. This would eliminate the need for wildcard subscription and also one service managing many subscriptions.

[2017-08-08 20:34] kozlovic commented on #357
It seems that it would then be possible. The investment in trying NATS Streaming is pretty low. The API set is limited (in a good way) and the server can be started with minimal or no configuration (you may want to look at https://github.com/nats-io/nats-streaming-server#configuring to see what you *could* configure if you need). Therefore, I think that you should easily be able to plug NATS Strea

[2017-08-08 20:34] #357 closed

[2017-08-09 05:11] arunkjn commented on #357
Thank you. will definitely try it out. Cheers!

[2017-08-09 14:52] dahankzter commented on #358
Perhaps it can be GC'd automatically? What purpose does an unused channel serve?

[2017-08-09 14:53] kozlovic commented on #358
What is an unused channel? Are you implying that it is only when a `MaxAge` is set and all messages have expired?

[2017-08-09 14:54] kozlovic commented on #358
.. and there is no subscriptions attached

[2017-08-09 21:45] deem0n commented on #358
I would suggest that requesting `https://localhost:8222/channelsz?channel=foo&delete=1` will

1. Delete channel immediately If there is no subscriptions
2. Mark channel `foo` for later deletion if there are active subscriptions AND disallow new subscriptions. Garbage collector will try to remove channels marked for deletion periodically (configurable how often?) still checking if there are any sub

[2017-08-09 21:46] deem0n commented on #358
Also DELETE method would be more RESTy ;-)
`DELETE https://localhost:8222/channelsz?channel=foo`

[2017-08-09 22:13] kozlovic opened #365 "FileStore could panic on Close() while expiration in progress"
Trace could look like this:
[code]

[2017-08-09 22:29] #365 closed

[2017-08-09 23:21] kozlovic commented on #358
I was concerned because we have an existing `channelsz` endpoint, from which we can use params (`?limit=100&offset=10`) for both all channels and also getting the subscriptions for a given channel.
But I can see adding a handler for `channelsz/` route and check method. From that route, only channel name will be expected (no channel means all). But we would keep the original one for when one wants

[2017-08-10 06:42] deem0n commented on #358
I think separating endpoints for subscriptions and channels would me more natural and more flexible for future API extensions. So

`/channelsz/...` - should remain as now
`/channels/...` - should operate on channels: list all channels with GET, delete channel with DELETE etc.

But more common to use API endpoints like this:

`GET /channels/foo/subscriptions` - list all subs on channel foo
`GET /su

[2017-08-10 07:19] dahankzter commented on #358
Isn't the regular nats subscription/subject very analogous? Why is there a need to limit the number of channels? It is not directly related to this issue but I wanted to raise the usage a little.

The use case in the slack was about "I have reached my configured max channels so I want to delete some channels". That is a rather artificial problem since the server was configured with a clearly insuf

[2017-08-10 07:51] deem0n commented on #358
@dahankzter please note, that it is nats **streaming**, so channel without subscriptions still keeps all messages for the case when new subscriber connects and replays the log of all messages from the start. This is the difference from the vanilla NATS. So we NEED channel without subscriptions to persist and server can not detect what channels without current subscriptions will never be used and w

[2017-08-10 12:58] dahankzter commented on #358
Ok fair enough I agree that it can be useful to be able to delete channels manually.

But all messages are not kept forever right? If the disk flows over or something similar perhaps max msgs setting. Messages gets purged and perhaps channel drop isn't that different.

However could there not be some heuristics as well for automatically cleaning? Some channel inactivity TTL perhaps?

I think I wil

[2017-08-10 13:47] dahankzter commented on #316
Are we there yet?

Jokes aside I find this very interesting to follow and if you have some musings or thoughts to share as you work in I would very much like to hear it.

[2017-08-10 15:12] kozlovic commented on #358
@dahankzter That was exactly the reason why deletion was not "supported" in the first place. Because as you said, it did seem to us that channels had a purpose from an user perspective and there should be no need to remove them (at least in a prod env). In dev, you can end up creating channels that you don't need, but then it's not a problem, stop server, delete sub directory and you are done.

My

[2017-08-10 15:17] tylertreat commented on #316
Progress is definitely being made. To give you an idea of where we're at, I currently have a working POC that is replicating messages via Raft. Currently, it's using HashiCorp's implementation of [Raft](https://github.com/hashicorp/raft) with a [NATS transport implementation](https://github.com/tylertreat/nats-on-a-log) I wrote. My (optimistic) goal is to have an early MVP by the end of September.

[2017-08-10 15:38] ColinSullivan1 commented on #316
@dahankzter , @tylertreat is making incredible progress!  We're still ironing out exactly what features will be in it, but as Tyler said, something should be available for you to test drive around that time.  Based on feedback from his early work, we'll then figure out a realistic beta date.

[2017-08-10 15:40] dahankzter commented on #316
Excellent news! I can test whenever it starts to make sense.

[2017-08-11 06:29] dahankzter commented on #358
If @deem0n has a good use case then I don't want to argue on principal but for a product like streaming maintaining a coherent vision and idea is important and perhaps deleting channels is not opposed to this.

It is perhaps no stranger than Kafka allowing for deleting a topic but not making it easy to do it?
At least last I checked you needed to run a command on the server.

In any case manual de

[2017-08-11 11:31] deem0n commented on #358
Thanks for interesting discussion!

I can see another way to handle automatic channel deletion just with config setting like `maxChannelInactiveAge`. It may be set per server and per channel and should work mostly like `MaxAge` for messages.

If channel
1. is inactive for `maxChannelInactiveAge` period of time, i.e. has no messages during `maxChannelInactiveAge` (counting from time now backwards)

[2017-08-11 17:27] ColinSullivan1 commented on #358
The general use case is maintenance related; cleanup for NATS streaming servers without downtime.

Here are a few thoughts:

* If monitoring endpoints would provide the last activity of a channel and there is an administrative interface to delete a channel, a tool could be developed to find stale channels and then invoke the interface to delete them.  This is simplest in NATS, most flexible long t

[2017-08-14 07:05] dahankzter commented on #358
As a maintenance feature it makes good sense. I think my beef is more with the max-channels setting but if 0 means no limit then it is not a forced hard limit.

A set of endpoint or even nats subscriptions would work nicely. The thing I worry a litte about is how polite these operations should be. If it tries to be too nice then there will inevitably come situations where clients misbehave and eff

[2017-08-15 17:15] tchap opened #373 "Support for log compaction?"
Hi,

I have stumbled across Apache Kafka's [log compaction](https://kafka.apache.org/documentation/#compaction), which is really handy for Event Sourcing. I am wondering whether something like that will ever be possible with STAN since there is no notion of message key...

Cheers!

[2017-08-15 22:47] kozlovic opened #374 "Several issues with Queue redelivery on startup"
- When there are several members with unacknowledged messages,
   it is possible that messages get redelivered multiple times to various
   members.
- New messages may be delivered to the queue group before all older
   unacknoweldged messages are first sent out.

[2017-08-15 22:55] kozlovic opened #375 "Stalled Queue member may stall the group"
If a queue member is stalled, it may still be picked as the member to
send a message to, even when there are other members that are not
stalled, effectively stalling the whole group.

[2017-08-16 16:31] #374 closed

[2017-08-16 17:08] #375 closed

[2017-08-17 19:42] kozlovic commented on #373
This starts to come up more and more and we will be looking into it for sure! As you mentioned, NATS Streaming does not have a concept of message key, and would need to be able to handle sequence gaps in a message log, which it does not at the moment.
Keeping this open and adding Enhancement Request label.

[2017-08-17 19:43] kozlovic commented on #327
Closing for now, will re-open if needed. Thanks!

[2017-08-17 19:43] #327 closed

[2017-08-28 15:36] kozlovic opened #380 "After a restart, server may send new and redelivered messages to offline durables"
Note: This is only for servers with persistent store.
This is causing unnecessary network traffic (sending to an inbox for which there is no subscriber running since the durable is offline) and disk activity since the server adds new messages to the offline durable pending list.
Way to reproduce:
- Create a durable subscription
- Send a message (or not, that is not important)
- Stop the durable su

[2017-08-29 16:55] #380 closed

[2017-09-04 14:35] soulne4ny commented on #358
I would vote for this approach. First, in order to delete channel, one should have privileges. It would be easier to archive as authorisation is already there. Second, with clustering, most likely, a channel deletion should apply to all of cluster, not just one instance that exposes monitoring. Therefore changes in the protocol are unavoidable.

Monitoring http endpoints, on other hand, are tailor

[2017-09-04 19:03] bruth opened #385 "Expose durable queue subscriptions through monitoring endpoint"
The use case is to observe all durable subscriptions and their current state with respect to the channel. I had assumed they were at first since the subscription payload contains the `is_offline` flag, but the entire subscription entry is gone when it disconnects.

[2017-09-04 19:41] kozlovic commented on #385
@bruth I have checked that master behaves correctly. That is, a durable subscription that is closed is still showing in the list of subscriptions and the flag `is_offline` is set to true. The latest published release `v0.5.0` had a defect where durable subscription would be listed twice.

Are you sure you are not calling `Unsubscribe()` on application exit? If you call unsubscribe, then the durabl

[2017-09-04 20:15] bruth commented on #385
I too am using the latest master and it is still occurring. I am not unsubscribing from the channel and the file store is being used. I am pulling data from `/streaming/channelsz?subs=1`.

[2017-09-04 20:36] kozlovic commented on #385
I start a nats-streaming-server with `-m 8222` and connect a durable subscription called "dur" on channel "foo":
[code]
I then stop the subscription (making sure not to call `Unsubscribe()`, and as you can see the subscription is still listed and `is_offline` is set to true:
[code]
Can you please send in a reproducible test case?

[2017-09-04 21:11] bruth commented on #385
Ok, I see the difference. I did your test case and used `conn.Subscribe` with a durable name. That worked as you showed. I have been using the `QueueSubscribe` with a durable name and I can confirm that it no longer shows in the subscription list (foo2) when I close.

Response:

[code]

Code:

[code]

[2017-09-04 21:13] bruth commented on #385
Funny, I am reviewing my own snippet.. no need for `ctx`, just block on `sig`.

[2017-09-05 14:55] kozlovic commented on #385
@bruth I see. This is a bug, I will have a fix and test for this today. Thanks!

[2017-09-07 18:21] #385 closed

[2017-09-07 18:27] bruth commented on #385
👍 Thanks @kozlovic

[2017-09-07 18:28] kozlovic commented on #385
@bruth You are welcomed! Thank to you for reporting the issue!

[2017-09-28 17:31] ahmadster commented on #175
The way I got around this is to first subscribe with `StartWithLastReceived`, get the sequence, then subscribe again with `DeliverAllAvailable` matching the the current sequence to the max sequence I captured earlier. Works for me.

[2017-10-03 02:20] sachinwalia2k8 opened #396 "Release cycle"
I am wondering if it is possible to switch for a faster release cadence such as monthly so that community can also contribute in testing.

[2017-10-04 01:13] bruth opened #397 "Channel aliasing"
This is inspired by [ElasticSearch's aliases feature](https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-aliases.html).

The use case is the ability to transparently and atomically swap out a channel by name with live subscriptions. This would enable migrating a channel without interruption to active clients. One specific use case is migrating a historical log of events in the

[2017-10-04 01:16] bruth commented on #397
Looking at the code snippet, I suppose if there was a built-in function that assumed a migration strategy, it could be reduced to:

[code]

Any the version would be incremented behind the scenes relative to the current concreted version.

[2017-10-05 00:49] sirajmansour commented on #13
Any recent development/updates on this ?

[2017-10-05 01:07] tylertreat commented on #13
We're currently working on clustering. There is a branch, clustering_mvp, that you can follow.

[2017-10-09 21:34] petemiron opened #399 "Set username/password in config"
When using a multiple user authentication block with an embedded `gnatsd` server, there is no way to set a user in a config file.

A user can only be configured, with password, at the command line.

An option should be added to the `streaming` block for setting `username` and `password` when there are multiple users.

[2017-10-09 21:37] petemiron opened #400 "Auto-generate nats-streaming user when using embedded server."
A user `{username, password}` should be automatically generated when using an embedded NATS server and any form of authentication is configured.

This reduces configuration when using multiple user auth and will improve observability over time.

[2017-10-10 15:29] ikaros commented on #316
Hi 🙂 – first of all – thanks for the great work 👍

I just wanted to ask how's the progress on this :)

[2017-10-10 16:01] tylertreat commented on #316
@ikaros You can follow progress in this integration branch: https://github.com/nats-io/nats-streaming-server/tree/clustering_mvp_integration

Summary status update:
- [x] NATS Raft transport implementation (https://github.com/nats-io/nats-on-a-log)
- [x] replication of channel messages (https://github.com/nats-io/nats-streaming-server/pull/383)
- [x] snapshotting/catchup of channel messages (https

[2017-10-13 15:51] tvalletta opened #402 "File store does not recover channels/messages on restart"
I am new to Nats, but thanks for this great software.

I am running Nats Streaming Server in docker. I have the file store data mounted to my local file system. When I restart the container, the console shows that Nats file store has recovered 2 channels (I have published 3, see below), but my channels start at sequence 0 again and my durable subscriptions don't pick up any of the old messages. Th

[2017-10-13 16:26] kozlovic commented on #402
@tvalletta Thank you for your interest in NATS Streaming!

Unfortunately, the issue is caused by the naming of your channels. You have used some naming that logically maps to directories, but that is not supported by NATS Streaming (yet the server is not rejecting those channels).

The server's file store implementation uses a flat layout, all channels should be under the given data store director

[2017-10-13 16:39] tylertreat commented on #402
@kozlovic Should we reject the creation of these channels if the names are invalid?

[2017-10-13 16:42] kozlovic commented on #402
Yes, but `/` is invalid for FileStore implementation, but would not for memstore, or SQL store or possibly new store. So it means that using `/` would not be portable. I am wondering if the check should be in the server to reject for all type of stores.

[2017-10-13 16:55] tylertreat commented on #402
Agreed, behavior should be consistent across stores.

[2017-10-13 20:17] kozlovic opened #403 "Server should reject `/` in channel names"
The `/` symbol in channel names causes issues for FileStore implementation.
The server should reject channel names containing such character for all
store implementations to be consistent.

Related to #402

[2017-10-13 20:38] tvalletta commented on #402
You are indeed correct. When I change the channel names, it all works. ty

[2017-10-13 20:38] #402 closed

[2017-10-13 20:40] kozlovic commented on #402
I have created issue #403 and corresponding fix #404 though. Thank you for the report!

[2017-10-13 22:13] tvalletta opened #405 "Are monitoring endpoints are sending CORS headers?"
Thanks for your work! I am trying to make a monitoring tool...

According to the docs:

However, I do not see any CORS headers. Chrome ERROR:
[code]
Response Headers:
[code]

[2017-10-13 23:00] kozlovic commented on #405
A note: it is `serverz`, not `servers`.

I have shamelessly taken that from [nats.io documentation](http://nats.io/documentation/server/gnatsd-monitoring/).
The full extend is at the end of that page:
[code]
I have to admit that I don't know about CORS. Is the above helping? If so, I will update the README with the example or remove the mention altogether.

[2017-10-16 14:14] tvalletta commented on #405
I apologize for the typo. The same error happens on serverz, clientsz, etc. JSONP could work, but it is a hack from the days before CORS existed. It should be enough to add the 'access-control-allow-origin' header to your HTTP response with a value of "*".

[2017-10-17 23:17] #403 closed

[2017-10-18 05:27] shaiaTradair opened #407 "High memory usage & Client error "publish ack timeout" "max in flight reached""
Using **Nats streaming with FILE store**, suddenly client's throw me  those errors: "publish ack timeout" "max in flight reached" (nodejs client)

Memory is growing to 16GB and up , and crash when is no more memory on the machine, nats log not showing nothing.

Any suggestions  ?

[2017-10-18 14:41] kozlovic commented on #407
Which version of the server are you using? Recent versions, when using FileStore, should have little memory footprint because the server relies on the file storage to store the messages.

Could it be that the server was blocked trying to either write to disk or do some operations and incoming messages would accumulate in the internal queue waiting for processing?

Even then, it would mean that you

[2017-10-18 20:45] buyology commented on #373
This would be very nice to have, with the primary use case to control log/stream size growth when you persist data for the longer term and to avoid having to read (all too many) outdated records during replay.

Another nice thing that would be nice to have is the ability to delete a record by producing it with the message key + `empty payload` (as in Kafka) or alternatively with a certain flag to

[2017-10-18 20:53] tylertreat commented on #373
One key use case Kafka has for compaction is storage of consumer offsets. In the old days, you had to store offsets in ZooKeeper. Today, they can be stored directly in Kafka, and the way Kafka does this internally is simply store them in a topic and treat them like any other message. Key compaction means only the latest offset is stored for each consumer.

This goes into internal details of NATS S

[2017-10-19 19:23] tylertreat opened #409 "Clustering: Raft group partitioning"
This is regarding the current WIP implementation of clustering.

With the current clustering design (Raft group per channel), we have two issues which remain more or less unresolved:

1) If a channel is created while a node is offline or if we add a *new* node to the cluster, how does the node discover the channel and know to join the Raft group?

2) The overall design of Raft-per-channel has inhe

[2017-10-20 16:37] tylertreat opened #410 "Clustering: file store snapshotting"
This is regarding the current WIP implementation of clustering.

Currently, the way channel messages are snapshotted is by snapshotting the first and last sequence of the channel and storing all messages in between. This can repeatedly fail if the channel is constantly being truncated due to exceeding size limits, etc. Snapshot failure will prevent Raft log compaction from happening.

If we assume

[2017-10-23 15:06] kozlovic opened #412 "Add ARM64 release"

[2017-10-24 15:17] ColinSullivan1 commented on #396
@sachinwalia2k8 , thank you for bringing this up.  We do have plans to move to a more frequent release schedule.

[2017-10-24 22:49] #412 closed

[2017-11-01 12:57] vl409 opened #418 "Idea: notify client when a store limit is reached and message cannot be processed without deleting others"
Quoting doc:

Such behaviour makes it impossible to implement normal client-side rate limiting.
If at some moment clients produce more messages than server can process, it means
messages are silently dropped. And there is not even a counter in statistics for such cases.

The proposal is to reply to client with ack, and set something like HTTP 503, meaning: now
server can't process the message, com

[2017-11-01 15:46] kozlovic commented on #418
@vl409 With the current design, it would not make sense to fail the publisher since the message is accepted, only older messages are dropped to make room.

Keep in mind that in streaming, a message is never removed because it has been "processed" by a consumer. Messages are appended, regardless of subscription interest.

If we were to reject the incoming messages because the channel is full, then

[2017-11-01 18:05] diogogmt commented on #407
@kozlovic

Also seeing the error `publish ack timeout` being alerted sporadically:

[code]

We are running with file store enabled and the default `MaxPubAcksInflight`.

Streaming server verison: `0.5.0`
Streaming client version: `0.3.4`

What could be the triggers for that timeout error?

Could it ever happen that the message gets delivered, processed, but then only the ack fails? In that case wh

[2017-11-01 19:13] kozlovic commented on #407
Keep in mind that NATS Streaming clients are not directly connected to the Streaming server, so it is perfectly possible that the pub messaged was received by the server and persisted/delivered but the ack did not make it back to the publisher.

It is also possible that the published message did not get to the server at all, again, because of connectivity issues.

If your server is otherwise respo

[2017-11-02 13:57] xiaomi-tc opened #419 "A problem when useing nats-streaming on natsd cluster"
　　I deployed a natsd cluster include two nodes.  A nats-streaming-server attached  on natsd node A, and a sub_client connected to node B to subscribe nats-streaming messages.  The pub_client publish messages.   Everything seems OK, sub_client can receive messages from nats-streaming-server currectly.
　　But when nats-streaming-server restarted,  sub_client can't received messages any more, unless r

[2017-11-02 13:58] robertfreund commented on #407
We are experiencing very similar issue with nats-streaming becoming unresponsive after some time under load. We are using File store for persistence.

[code]
[code]

The following are multiple stackz outputs.
[stack_a.txt](https://github.com/nats-io/nats-streaming-server/files/1437947/stack_a.txt)
[stack_b.txt](https://github.com/nats-io/nats-streaming-server/files/1437948/stack_b.txt)
[stack_c.tx

[2017-11-02 14:13] tylertreat commented on #407
@robertfreund Can you try profiling the heap and see where the memory usage is coming from?

[2017-11-02 15:04] kozlovic commented on #419
Are you using `-store file -dir <datastore>` or not? If not it means that you are using memory store which has no persistence. See https://github.com/nats-io/go-nats-streaming/issues/157 for instance.

[2017-11-02 15:10] kozlovic commented on #407
@robertfreund Also, I would use dedicated gnatsd to pin-point where the issue is. You can run separate instance of nats server and use  `nats-streaming-server <your options> -ns nats://<gnatsd host>:<gnatsd port>` to connect to the NATS Server instance. The stack show a lot of activity gnatsd related, so I am not sure what the problem is.

[2017-11-02 16:14] robertfreund commented on #407
yes I will continue to investigate this. We were actually trying to consolidate our streaming / gnatsd instance. Is it possible somehow to many subscriptions for memory. I notice when using lets say "consumerGroupA" durable we will get lots of 'stan: subscribe request timeout' when it seems nothing has changed. If I modify to use "consumerGroupB" everything subscribes fine. Is some limit or some s

[2017-11-02 16:33] kozlovic commented on #407
Have you changed to use separate NATS Server instance? I would want to see with what process the memory is associated with. Having "remote" NATS Server will easily help figure out if the bulk of memory usage is in the NATS Server part or the Streaming part.

With FileStore, messages are not kept in memory (except for short amount of time when being written). So the Streaming server should not need

[2017-11-02 16:37] robertfreund commented on #407
Ok Thanks. Im in process of that on separate instance.

I know from our previous revision though we used nats-streaming 16GB and gnatsd 16GB. Two seperate boxs. nats-streaming 100% of time would take all 16GB. gnatsd would use max 500m with our current load.

For us it has always been nats-streaming memory.

I am going to do some comparisons in our various environments that have different load cha

[2017-11-02 16:41] tylertreat commented on #407
@kozlovic I know at one point there was a cache used for file store. Is that disabled by default now?

[2017-11-02 16:48] kozlovic commented on #407
We used to keep all stored messages in memory in older releases. Now there is a cache, but the stored message are evicted from that cache within a second. On top of that, there is a write buffer that is used to minimize disk writes. This buffer is flushed to disk when server processes a set of incoming messages (in the ioLoop). This buffer can be disabled with `-file_buffer_size 0`. But even when

[2017-11-02 17:46] robertfreund commented on #407
I have separated streaming and nats and see same footprint. streaming disk and memory align. gnatsd uses very little memory as expected.
[code]

[2017-11-02 18:42] kozlovic commented on #407
How many channels are you using? Do you experience the same if you run outside of docker?
I have run a test with sending 10,000,000 messages to a single channel and the memory usage stays constant.

[2017-11-02 19:00] robertfreund commented on #407
We have 20 channels. 10 get heavy usage, 10 light usage - based on type of data we move on channels. Heavy usage is sustained minimum micro batch 400 second. We were never able to get individual message throughput levels much higher in nats-streaming.
gnatsd we have minimum 25K a second sustained and have no issue.

[2017-11-02 23:44] kozlovic commented on #407
@robertfreund Quick question: how far apart were stack captures made (few seconds, within same second, ...) ?

[2017-11-03 01:42] xiaomi-tc commented on #419
It's ok since using "-store file --dir ...".    thank you

[2017-11-03 13:04] robertfreund commented on #407
~ 60 seconds.

I will say a big noticable difference when separating the two was much lower cpu usage. The combined cpu is maybe 140% where as when running together it was constantly in the ~600% range.

Im working on memory profiling now.

[2017-11-03 14:19] #419 closed

[2017-11-03 22:46] kozlovic commented on #407
@robertfreund I could not make sense of the stacks because some go routines seem to be stuck trying to acquire a lock that is not found locked in any of the go routines present in the captures. I then realized that your stack captures seem to be truncated (if you go at the end of file, you would see that it seem to be not complete). If you still have server running, please get to the `stacksz` end

[2017-11-06 16:40] kozlovic commented on #418
Closing for now, don't hesitate to reply with comment, etc.. and we will re-open.

[2017-11-06 16:40] #418 closed

[2017-11-07 05:33] shadiakiki1986 commented on #326
Why are there 2 official docker images?

- https://hub.docker.com/_/nats/
- https://hub.docker.com/_/nats-streaming/

I was using the `_/nats` image and getting the same issue as OP here

[2017-11-07 21:26] robertfreund commented on #407
My 'issue' is no issue at all. After building custom nats-streaming-server with pprof it was clear that report via docker stats is not accurate. Actual usage is sustained <~150mb.

[2017-11-07 21:42] tylertreat commented on #407
I believe Docker may be reporting page cache as memory consumed, which may lead to surprising metrics. https://github.com/moby/moby/issues/10824

[2017-11-07 21:55] kozlovic commented on #407
Good to hear. However, I still do believe that there was an issue with the stacks captures I saw, however, they were not complete and so I could not figure out what was wrong. So if you have still a chance to capture and send me the output for review, I would appreciate it.

As for pprof, there is a profiler included in gnatsd that you could have used (when running NATS Streaming with embedded gna

[2017-11-07 22:09] robertfreund commented on #407
Heres the latest stackz. Note the previous was when combined. This is with gnatsd separate.
[stackz_out.txt](https://github.com/nats-io/nats-streaming-server/files/1451843/stackz_out.txt)

Picture at time:
[code]

[2017-11-07 22:12] kozlovic commented on #407
Thanks, but I no longer see the go routines with `closeClient` go routines being stuck, so you may have restarted the instance since then? If you do observer issues again, please try to get a capture (ensure that it is not truncated). Thanks!

[2017-11-09 07:12] rafw opened #426 "Can I change nats-streaming-server auth options dynamically?"
Add/Edit/Remove user and pass for server when server is running.

[2017-11-10 11:37] nick-zh commented on #316
@tylertreat is there a rough ETA for clustering?

[2017-11-10 15:28] tylertreat commented on #316
@nick-zh End of Q4 for a pre-production MVP.

[2017-11-13 10:30] JulienTant commented on #324
A pointless message to subscribe to the thread

[2017-11-15 15:51] ColinSullivan1 commented on #405
@tvalletta , we're discussing this internally and will get back to you.

[2017-11-15 15:56] aricart commented on #405
Actually from surveying the code, neither gnatsd nor nats-streaming-server support CORS. So there's a documentation error. For CORS to work, the server has to implement additional functionality, now the question is whether it should be supported at server level or via proxy.

[2017-11-21 07:15] runech opened #430 "Feature: Notification when subscriber is done receiving from cache and start receiving in "real time""
I have three different scenarios where this feature could be of use:

Publishing client crashes and wants to continue from where it left off when re-started.
The problem is at first start-up and there are no "last published message". Currently I need to use (unreliable) time-out to decide whether to start with message 1. If I received "real-time notification" immediately I could use that as trigge

[2017-11-21 17:04] kozlovic commented on #430
The problem is at first start-up and there are no "last published message". Currently I need to use (unreliable) time-out to decide whether to start with message 1. If I received "real-time notification" immediately I could use that as trigger.

How? That is, how would you expect to receive such notification and what would that be? What would your publishing application with that notification?

Ag

[2017-11-21 17:38] tylertreat commented on #430
I agree with Ivan's points. What is the distinction between "real-time" and "cached" data? Further, I think "cached data" is the wrong way of thinking about NATS Streaming. The better idiom I think is a durable log and, as Ivan mentioned, NATS Streaming provides durable streams which allow you to pick up where you left off in that log.

It's also not clear what you mean by the publisher semantics

[2017-11-21 18:41] runech commented on #430
Thanks for replying :)

Regarding scenario 1.  I have a pipeline A -> B > C
Box A is a 3rd party message store which could have been a NATS streaming server - I can tell it to start from, e.g., message 1000.
Box B is my application, publishing messages to box C - a NATS streaming server. On failure, of either A or B, I would like to be able to: Restart A an B, then query C for last published messa

[2017-11-21 18:48] kozlovic commented on #430
But you understand that the "real time notification", that is, a meta message that says that there is no more message is not possible because messages can come at any time. That is, say that there is a constant publishing and the consumer is keeping up, then server will almost send that notification for each message!

Server *could* send the current last message index in the log when creating the

[2017-11-22 07:28] runech commented on #175
@ColinSullivan1 : Could #430  be an alternative solution for you?

[2017-11-24 18:16] alexellis commented on #324
I'm also interested in this and have implemented a dead-letter queue in Go as a separate service. Ideal solution would be part of NATS Steaming.

[2017-11-27 21:44] ColinSullivan1 commented on #430
@runech , it sounds like your `end-of-day` message is the correct solution to your problem.

This seems to be loosely coupling producers with subscribers, something that by design NATS does not do.  Any coordination between the two (beyond subject name) needs to occur at the application level.  In your case, this is batch size, and perhaps some latency data.

NATS does provide the tools you need t

[2017-11-27 21:44] #430 closed

[2017-11-28 00:40] sachinwalia2k8 opened #436 "Client for Rust"
Hello, I am wondering if there is a plan to build client lib for Rust.

[2017-11-28 12:03] vjpr commented on #229
@kozlovic This was a bit confusing for me as it is similar to Kafka, but very different.

Say I want to process events in batches of 100, I have to now implement the batching logic in my client code. If we could read a set number of events at a time (pull-based), I would not need to implement this batching logic in each client. This is the beauty of Kafka.

[2017-11-28 12:28] jacktuck commented on #436
https://github.com/jedisct1/rust-nats/issues/3

[2017-11-28 16:22] kozlovic commented on #229
First let me preface by saying that I do understand that there are benefits to pull vs push. But NATS Streaming was designed with the pull semantic in mind.

Could you clarify what you mean here? Are you suggesting that after receiving/processing those 100 messages you would want the subscription to be closed? Which means that if you want to receive/process the 100 next ones you would create a new

[2017-11-28 17:02] vjpr commented on #229
@kozlovic PS. My complete use case is here: https://stackoverflow.com/questions/47530962/using-nats-streaming-server-as-the-primary-data-store-for-iot-position-data

[2017-11-28 17:08] kozlovic commented on #229
Yes, but you would need to call `msg.Ack()` to actually let the server send you more messages (and avoid a redelivery)

[2017-11-30 07:34] byrnedo opened #439 "Unable to flush msg store: fsync: input/output error"
Got this error this morning, first time I've seen this.
We run a very minimal setup with external nats server. Using file store of course.

version:
nats-streaming-server version 0.5.0, nats-server version 0.9.6

Logs: newest at bottom
[code]

[2017-11-30 17:01] kozlovic commented on #439
@byrnedo Unfortunately, there is not much that can be done here. The system call `sync()` failed with an `EIO` error code, which means that there was a problem flushing pending I/O operations to disk.
Where is your store located? Is it a local disk, a mounted one? Check for out-of-space or mount issues, etc...

[2017-12-01 08:22] byrnedo commented on #439
@kozlovic Ah, okay. We have quite a small amazon ebs volume. Space is fine, I'll look for mount issues. I only saw this once, when stan restarted everything was fine again.

[2017-12-01 16:06] kozlovic commented on #439
Closing for now, please re-open if you get any new information.

[2017-12-01 16:06] #439 closed

[2017-12-01 22:37] notbdu opened #440 "Recovering from corrupted subscriptions state"
Colleague came across this bug today causing STAN to exit on startup.
[code]
Running the `nats-streaming:0.5.0` image.

[2017-12-01 22:51] kozlovic commented on #440
This is the second report, however, I could not find an explanation on why there would be a record with type 0. Could it be that the file is extended and pre-filled with 0, but streaming code is not doing that.
Any detail that you could share about OS, file storage use (NFS, local disk, etc...)?
Any chance that you could share the file? (or are you using sensitive information in the subscription s

[2017-12-02 02:51] notbdu commented on #440
I can't share the file but I can share system info.
Running inside a ubuntu vm on OSX:
`Linux ubuntu-xenial 4.4.0-101-generic #124-Ubuntu SMP Fri Nov 10 18:29:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`
Volume mounting from an `ext4` fs on the ubuntu vm host into the STAN docker container.

[2017-12-02 02:56] notbdu commented on #440
Does running a script before startup to...
- read through all the records
- check the crc hash
- check for and remove unknown record types
... sound crazy to you?

[2017-12-02 04:23] kozlovic commented on #440
@notbdu The problem is how to remove. A record layout is this: 4 bytes for size (1 byte for type, 3 byte for size) then 4 bytes for CRC, then payload. What seem to be happening here, is that the code reading records return no error, but record type is 0 - which should not be the case for subscription records. So after reading at least 8 bytes (all 0), readRecord() will return that the record type

[2017-12-02 20:13] notbdu commented on #440
Ah, I see... unfortunately, he doesn't have the file anymore. We'll have to test this theory when it comes up again.

Will let you know. Thanks for the assistance @kozlovic!!

[2017-12-04 16:12] kozlovic commented on #440
No problem. If you could get more information on what options are used when creating/mounting the file system and also NATS Streaming configuration in general may help.

[2017-12-06 01:31] kozlovic commented on #440
@notbdu Although I don't think that the issue originated from the server, I tried to add code to handle the situation where there are null bytes at the end of the files. If there are null bytes, but less than the expected size of a record header, then I also added code to report the expected number and how many were read. In this case, the server will still fail to start since I cannot say for sur

[2017-12-06 03:30] notbdu commented on #440
Oh wow, thanks for the quick turnaround with this @kozlovic!

Appreciate the good work on NATS/STAN so far by you and your team.

[2017-12-06 11:03] vjpr opened #442 "Playback of messages from date set within message"
https://nats.io/documentation/streaming/nats-streaming-intro/:

For **testing**, I would like to load a week of data into NATS. Then I would like to playback data from the last day. NATS message received date would be all about the same time. Is there a way to allow NATS to store the date from inside the message payload?

Also, in **production** the recorded date of my data (say IoT data that is b

[2017-12-06 17:11] kozlovic commented on #442
In short, no this is not possible. The NATS Streaming storage was not implemented as a time series DB.
See inline for more details:

No, this is not possible. As you said, the message timestamp is set by the server at the time it receives it, and in a bulk send, they may all get same or very close timestamp.

That raises the issue of out-of-order timestamps. What if you have a subscription running

[2017-12-06 17:11] #442 closed

[2017-12-06 17:35] vjpr commented on #442
Thanks for the reply. Much clearer now.

So seems like manually setting timestamps would be a special case for testing only - probably not that useful anyway.

And for any time-based processing, NATS should be used to write to a db, which can then be queried.

Good point about the data ordering. If there is always the potential for a batch to come in later, anything wanting to read time-ordered da

[2017-12-06 21:19] kozlovic commented on #407
Closing for now due to age. Please re-open if you have more information.

[2017-12-06 21:19] #407 closed

[2017-12-07 20:57] tvalletta commented on #405
Adding CORS headers would allow a different level of tooling. I have created a administration and monitoring console for nats-streaming-server. I would love to run it locally, on my servers, or as a chrome plugin. Running a proxy is not hard, but it prevents me from dropping it on S3 or releasing it as a Chrome plugin.

[2017-12-08 12:59] ripienaar opened #443 "show client name in monitor output"
When requesting monitoring data for a channel:

[code]

It would be great to get the client name for the subs, it's a small thing but spares a call to `http://localhost:8222/streaming/clientsz` to figure it out

[2017-12-11 18:25] kozlovic opened #446 "FT Standby exit due to store lock error"
The FT Standby server is exiting if the store API call `GetExclusiveLock()` returns an error.
In case of SQL Store, it means that if the DB connection is lost, then it will exit as soon
as it missed the first FT heartbeat. This has been reported by @savaki on Slack:

[code]

[2017-12-12 20:03] #443 closed

[2017-12-12 20:04] ripienaar commented on #443
👍 thanks

[2017-12-12 21:35] ColinSullivan1 commented on #426
@rafw , Yes you can, if the NATS streaming server is running standalone connected to an external core NATS server (gnatsd).

By default, the NATS streaming server launches an embedded core NATS server, which uses credentials stored in the configuration file you pass.  You can direct the NATS streaming server to connect to an external NATS server instead (configured with your credentials), and use

[2017-12-13 01:19] rafw commented on #426
Great.

[2017-12-13 01:19] #426 closed

[2017-12-13 15:50] #446 closed

[2017-12-13 17:33] #440 closed

[2017-12-13 20:32] ColinSullivan1 commented on #436
@sachinwalia2k8 , We currently do not have plans to officially support a Rust client, but that may change someday.

We would certainly welcome a user contributed RUST client - thank you @jacktuck.

I'll leave this open to track interest.

[2017-12-18 01:52] leenux opened #450 "When will the cluster version be released?"
I found the doc `Streaming clustering with full replication of data across a set of streaming servers is planned for later this year.`
Because our payment system planned to use nats-streaming, it does not want a single point of failure.
We hope to know when released and rank our plan,Thank you.

[2017-12-18 15:30] tylertreat commented on #450
There is currently a preview branch of clustering (https://github.com/nats-io/nats-streaming-server/tree/clustering_mvp_integration). We are waiting on additional feedback from the community before releasing.

[2017-12-18 16:01] rse opened #451 "Issue with "clustering_mvp_integration" branch: "Failed to make RequestVote RPC""
I've NATS Server running in a cluster of 5 Servers and want to attach clustered NATS Streaming Server to this NATS Server cluster now. For this I've installed the latest snapshot of the "clustering_mvp_integration" branch as of 2017-12-17 to try it out.

Unfortunately, I guess I've overlooked something, because it isn't working as expected. Certainly a configuration error on my side, but after a f

[2017-12-18 16:10] tylertreat commented on #451
@rse I'm taking a look and will let you know what I find.

[2017-12-18 16:24] tylertreat commented on #451
@rse The `id` field in the config file actually corresponds to a cluster id, not a node id (the node id is the `node_id` field). All of your NATS Streaming servers in the cluster should have the same cluster id. Right now, they each have a unique id: `soe1`, soe2`, etc.

[2017-12-18 17:47] rse commented on #451
Ops, great catch! Sorry, I was not aware that the "id" is actually the cluster id. I've now switched all 5 servers to an "id" of "soe" and: voila, it no more trouble in starting up the cluster. All servers now play together and at least elected a leader and on killing the leader automatically re-elected a new leader. Many thanks for your support. I'll now continue playing with NATS Streaming Serve

[2017-12-18 17:47] #451 closed

[2017-12-19 00:36] leenux commented on #450
@tylertreat
Thank you very much.
I will test the branch.

[2017-12-19 00:36] #450 closed

[2017-12-23 17:54] gertcuykens opened #453 "Partitioning ft_group on 3 kubernetes nodes"
This works on a stateful 3 node kubernetes set where each node gets a stream pod, but it seems when enabling partitions you can only have 1 active and 1 standby instead of 1 active and 2 standby (one on each node) The 3 one will crash with rpc limit reached?
[code]
Ps feel free to comment on my config if you see mistakes, thx
Also I think that having a `client {...}` is going to be less confusing

[2017-12-25 16:42] gertcuykens opened #454 "TLS config inconsistency between NATS and STAN"
Can the following differences be ironed out please

[code]

[code]
Can both use `verify` please and `xxx_file` I understand why you used `client_cert` but still when used inside `streaming {}` it should not matter.

Simplicity is one of the the features of NATS yet the config of STAN can be confusing compared to NATS

I think it's worth breaking backward compatibility and clean it up.

[2018-01-04 21:47] kozlovic commented on #453
Few things:
- Not sure what the "rpc limit reached" issue is, but does not sound like it is coming from NATS Streaming.
- The NATS related configuration details above will be ignored due to the presence of `nats_server_url` parameter, which basically means that the Streaming server should connect to a separate NATS Server running at that address.
- For FT to work, the datastore needs to be shared

[2018-01-04 21:52] kozlovic commented on #454
The `verify` makes sense only from the (NATS) server perspective, the process accepting the TLS connection. When you configure both TLS sections in NATS Streaming, you are indicating that the Streaming server should embed the NATS Server. The Streaming server then needs to have a `tls` section that configures the ability of the streaming server to connect to the embedded NATS server.

To make it e

[2018-01-05 02:45] gertcuykens commented on #454
Ok thank you for your response. In my eyes the verification parameters to indicate to verify a CA certificate should be identical for server and client. Something like
[code]
[code]
Maybe it just boils down to personal preference I guess

[2018-01-05 02:45] #454 closed

[2018-01-05 03:00] gertcuykens commented on #453
If rpc limit reached is not a error coming from NATS or STAN then I can assume its my kubernetes config. The thing that confuses me is if I do just `partitioning: false` instead of `partitioning: true`and leave everything the same I don't get any error and everything works as expected on 3 nodes. 2 STAN's on standby 1 active. Reacting immediately if I kill the active pod, one of the standby pods t

[2018-01-06 10:18] incubus8 commented on #316
Hi @tylertreat it's new year now 🎉  🎉  🎉
any news?

[2018-01-09 19:46] ColinSullivan1 commented on #316
@incubus8 , Thank you for following up - we're taking a look at where we are now, and will provide an update in the next few weeks or so.

[2018-01-11 16:23] Kikimora opened #455 "Huge performance difference between empty channel and channel with data"
I use stan-bench.go from examples to send some messages to NATS streaming server and observe performance degradation as I push more and more messages.

I start with fresh channel and can push 130 000 messages per second.
[code]

Next run demonstrates some performance degradation. This "second run" performance degradation seems to be consistent and does not depend on number of messages. I just run

[2018-01-11 16:34] kozlovic commented on #455
@Kikimora This is because the `stan-bench.go` tool creates the subscription with "DeliverAllAvailable()", which means that the server will deliver to the subscription old messages (the one at the beginning of the log). If you are using FileStore, it means reading back old messages from the log. When you have an empty channel, the recent messages are immediately sent and since we use some caching,

[2018-01-12 11:55] Kikimora commented on #455
Thanks!

[2018-01-12 11:55] #455 closed

[2018-01-13 00:04] ColinSullivan1 commented on #397
@bruth , thanks for opening this.  We're revisiting issues in the near future, and will discuss this.

[2018-01-15 19:58] ColinSullivan1 commented on #453
@gertcuykens , just following up.  Is this still an issue?  If so, would you have a log we can see that shows the rpc limit error you are encountering?

[2018-01-21 02:20] gertcuykens commented on #453
![image](https://user-images.githubusercontent.com/863731/35190082-9498fee2-fe59-11e7-9f82-507187d0f743.png)
to get container status {"" ""}: rpc error: code = OutOfRange desc = EOF

![image](https://user-images.githubusercontent.com/863731/35190089-d5aae382-fe59-11e7-9e07-9e078131e42d.png)

![image](https://user-images.githubusercontent.com/863731/35190095-ebc6481e-fe59-11e7-8f67-a63544e42b55.png

[2018-01-22 02:13] gertcuykens commented on #453
When partitioning is false everything works as expected

![image](https://user-images.githubusercontent.com/863731/35202301-19fa43de-ff22-11e7-96a6-1bd2b72d41ef.png)

[2018-01-22 16:38] kozlovic commented on #453
@gertcuykens I think I understand what is going on with partitioning and FT, and I am even surprised that you can get one of the standby to be running at all...
Will take a closer look today.

[2018-01-22 19:25] eigood opened #457 "Using external -ns seems to fail using master"
In my local project, we have nats-streaming-server talking to an external nats-server.  Today, this failed.  We compile master against both projects.

I was able to work around it by removing the -ns, removing the nats-server from my docker-compose, and reconfiguring everything to talk to the embeded nats server of nats-streaming.

[2018-01-22 19:26] eigood commented on #457
This is using the new 0.7.0 of nats-streaming-server.

[2018-01-22 19:26] ripienaar commented on #457
How exactly did it fail?

[2018-01-22 19:30] eigood commented on #457
It says 'no servers available' after printing the nats-server connection info.

[2018-01-22 19:30] eigood commented on #457
I'll give a log in a few minutes.

[2018-01-22 19:31] kozlovic commented on #457
This parameter instructs the NATS Streaming server to connect to a remote NATS Server, so make sure that the NATS Server is running *and* reachable at that address.

[2018-01-22 19:32] eigood commented on #457
[19] 2018/01/19 18:42:29.331304 [INF] STREAM: Starting nats-streaming-server[mlo] version 0.7.0
[19] 2018/01/19 18:42:29.331320 [INF] STREAM: ServerID: SjO4v8YGKmNMWaEDrAxMnS
[19] 2018/01/19 18:42:29.331322 [INF] STREAM: Go version: go1.7.4
[19] 2018/01/19 18:42:29.331349 [TRC] STREAM:  NATS conn opts: { [nats://nats-server:4222] false _NSS-mlo-send false false false <nil> true -1 250ms 2s 0s 2m0s

[2018-01-22 19:33] eigood commented on #457
I have 2 docker containers, nats-server, and nats-streaming-server.  Other clients are able to connect directly to nats-server, and I see in it's log that stuff is occurring.  It's just nats-streaming-server that fails to connect.

[2018-01-22 19:33] kozlovic commented on #457
Maybe `nats-server` is not resolving properly from the NATS Streaming server's host.

[2018-01-22 19:33] eigood commented on #457
nats-server does resolve, I have a WAIT_HOSTS environment set, that my control script then loops on, using getent to make certain it resolves.

[2018-01-22 19:37] kozlovic commented on #457
The docker image is using Golang 1.9.2 to build the 0.7.0 streaming server. I see in the output above that you are using Golang 1.7.4. Did you build your own docker image?

[2018-01-22 19:38] eigood commented on #457
The compile didn't fail, if it really requires that version, then it should fail and not produce any output.

[2018-01-22 19:40] eigood commented on #457
I have a 'compile' phase in docker, that volume mounts from the host, compiles a bunch of stuff, then saves it in $TOP_DIR(in this case, $TOP_DIR/externals/go).  I then make use of those output binaries at runtime(again, as a volume mount, but I could just as easily embed them directly into a pre-built image).

[2018-01-22 19:41] kozlovic commented on #457
I was just pointing out that the docker image is built with Golang 1.9.2 and I see a different version indicating that it is not the "official" image. I don't have an issue with master and `-ns` and there was no change that I know of about this command line in master.
Did it use to work before? What changed?

[2018-01-22 19:42] eigood commented on #457
I have golang-1.8 installed via stretch-backports, 1.9 is only available in buster.  We can't use buster.  It's been working fine for months with this config, and today when my coworker recompiled, did it fail.  I have not attempted to find the commit that broke this.

[2018-01-22 19:43] eigood commented on #457
I don't use community go images.  I compile all the go-using stuff once, and save the output, and at runtime, I use stretch-slim, with the compiled go binaries.  This has less of a surface area exposed(no golang at runtime).

[2018-01-22 19:45] eigood commented on #457
I can look at this in more detail later, but I have a meeting in 1.25 hours, and need to get back to frontend dev.  I'm glad you're paying attention.

[2018-01-22 19:57] kozlovic commented on #457
I just built locally a docker image using nats streaming master and Golang 1.7.4 and run it connecting to a separate container running NATS server and it works fine. Not sure what is wrong with your setup.
![screen shot 2018-01-22 at 12 55 38 pm](https://user-images.githubusercontent.com/13736691/35241448-bcb6ba66-ff73-11e7-9fa5-c97479fd6148.png)

[2018-01-22 19:59] kozlovic commented on #457
Could it be that you simply changed the port NATS Server is running on? Maybe it is not 4222?

[2018-01-22 23:02] kozlovic commented on #453
@gertcuykens Would you be able to test with the code from PR #458 and see if it resolves your issue? Thanks!

[2018-01-22 23:14] eigood commented on #457
We've changed all ports of all services to be non-defaults, and then configured all the isolated docker instances to use the non-default ports, using whatever configuration is provided by the software.  This is to prevent accidentally connecting to a host-run process.

I haven't yet had a chance to debug this further, but do plan on doing so.

[2018-01-22 23:16] kozlovic commented on #457
You've reported this:
[code]
As you can see, the URL the streaming server tries to connect to is: `nats://nats-server:4222`, and `4222` is the default NATS Server port. So if you have started NATS Server to a non default port, and forgot to change the `-ns` to point to that port, that would explain it.
Will wait for your feedback.

[2018-01-26 22:13] notbdu opened #459 "Garbage Collecting Channels"
Even if we continually increase the max channel limit, we will hit a wall at some point (e.g. max fds).

Would it be possible for STAN to support garbage collection of unused channels after hitting channel limits?

[2018-01-26 22:14] kozlovic commented on #459
Closing this, please refer to #358. Thanks!

[2018-01-26 22:14] #459 closed

[2018-01-26 22:16] notbdu commented on #459
Ah, sorry @kozlovic! Poor searching on my part, this particular issue didn't come up.

[2018-01-26 22:21] kozlovic commented on #459
No worries. Please add feedback on that other issue if you want. Thanks!

[2018-01-26 22:30] notbdu commented on #358
I have a use case where we have high throughput subscriptions where each unique subscription is hashed to a topic (resulting in a unique STAN channel).  This isn't request reply as subscriptions fan out to multiple subscribers and the subscribers can come up and down.

We also don't want to broadcast over a generic topic `foo` because that would overcrowd the channel and subscribers would be requi

[2018-01-26 22:30] notbdu commented on #358
Any update on the possibility of this type of functionality making it into a future release?

[2018-01-26 22:45] kozlovic commented on #358
What do you consider an "unused" channel. How do you want the server to delete a channel simply because there is no new incoming message or no subscription at the moment? I would not want the server to delete one of my channel just because there has not been activity for a while.

There is a branch that supports channel deletion through monitoring endpoint. We did not merge this into master becaus

[2018-01-27 01:25] #453 closed

[2018-01-28 10:13] rbnx commented on #316
following

[2018-01-30 00:04] #316 closed

[2018-01-30 00:05] kozlovic commented on #457
Closing for now, please re-open if you still have the issue.

[2018-01-30 00:05] #457 closed

[2018-01-30 00:06] kozlovic commented on #410
Closed with #434

[2018-01-30 00:06] #410 closed

[2018-01-30 00:07] kozlovic commented on #409
The current beta brought the number of Raft groups to only 1. Having raft group for meta data and channels made it impossible to safely apply the raft entries in correct order. Closed with #434

[2018-01-30 00:07] #409 closed

[2018-01-30 00:08] kozlovic commented on #396
We will try to release more frequently, at least once a month if there has been fixes/features added.

[2018-01-30 00:08] #396 closed

[2018-01-30 12:19] expelledboy commented on #316
Thank you @tylertreat !!

I had a quick skim through the code, but was wondering if any performance tests were done?

[2018-01-30 16:22] kozlovic commented on #316
@expelledboy Locally yes. We are planning on running some tests in the cloud. As always, in term of performance, you would be better of setting up your own test which would match closely what your real deployment and usage would look like.

[2018-01-30 21:09] notbdu commented on #358
I was thinking that "unused" could be specified via a cache-like eviction strategy (e.g. LRU). On the other hand, I think you're right... it might not make sense to add a housekeeping endpoint just to satisfy a few very specific use cases.

Btw, we are planning to work around this limitation.

[2018-02-04 18:43] daghb opened #462 "Unable to run nats-streaming-server docker image"
After downloading the latest image nats-streaming/0.8.0-beta I am unable to run nats-streaming-server

`docker run nats-streaming nats-streaming-server -p 4223 -m 8223`

always gives me this response regardless of parameters to nats-streaming-server

[code]

[2018-02-04 18:45] daghb opened #463 "Erroneous docker hub documentation"
The documentation calls for a default run command like
`$ docker run nats-streaming-server nats-streaming-server -p 4223 -m 8223`

but this should read

`$ docker run nats-streaming nats-streaming-server -p 4223 -m 8223`

[2018-02-04 18:47] kozlovic commented on #463
Thanks, I will fix that. Also keep in mind that this is only for Windows docker image, and only if you need to pass parameters from the command line:
[code]

[2018-02-04 18:48] kozlovic commented on #462
Otherwise, do not specify the executable name. So it should be:
[code]

[2018-02-04 18:52] daghb commented on #462
Ah, thanks @kozlovic, that worked.

[2018-02-04 18:52] #462 closed

[2018-02-04 19:01] daghb commented on #463
Thanks a lot, @kozlovic. When using Portainer to orchestrate nats-streaming, I have to supply an entrypoint regardless of this. I tried /nats-streaming-server and it seems to run. Perhaps it's worth noting somewhere that there is a way to supply an entrypoint regardless of the setting in the generating Dockerfile and where it may be found?

Another typo in the Docker Hub docs:

`Run a NATS Streani

[2018-02-04 19:27] kozlovic commented on #463
@daghb You mean something like this?

[code]

[2018-02-04 19:32] daghb commented on #463
Yes, this should give Portainer users a clue

[2018-02-08 00:05] kozlovic commented on #463
@daghb It should have been addressed in https://github.com/docker-library/docs/pull/1146.
Thanks again for the report!

[2018-02-08 00:05] #463 closed

[2018-02-09 17:13] miroshnik commented on #10
Is it possible to implement a subscription which would allow to receive messages based on given _from_ and _to_ sequence indexes as params with two special values - _LastReceived_ for _from_ and _to_ params and _Last_ for _to_ param?
Also, it would be great, if it can be initialized with _auto-unsubscribe_ flag which tells subscription to unsubscribe when all _from_ _to_ messages would be received

[2018-02-14 00:02] AshfordN opened #467 "Subscription not removed from client after subscription error"
If a client subscribes to a channel and there is an error, the subscription fails, but the entry is not removed from the client. To reproduce this, allow 2 clients to subscribe to channel "foo.bar" using the following configuration file:

`store_limits {
	channels: {
		"foo.bar": {
			max_subs: 1
		}
	}
}`

The bug should occur when the second client attempts to subscribe to the channel. This can

[2018-02-14 00:04] kozlovic commented on #467
@AshfordN Thank you for the report. I will work on a fix later today.

[2018-02-14 03:15] kozlovic commented on #467
@AshfordN Not sure if you will get a chance to test, but PR #468 should fix this issue. Thanks!

[2018-02-14 05:19] kozlovic commented on #358
To all interested.. We went with a new channel limit approach. If the limit is specified and the channel does not have any subscription and no new message for at least the specified duration, the server will delete the channel. Feedback welcomed.

[2018-02-14 18:52] rybit opened #472 "report the client_id for offline durable subscriptions in the monitoring endpoints"
As is resuming a durable subscription requires the [clientID and the durableName](https://github.com/nats-io/nats-streaming-server/blob/v0.7.0/server/server.go#L3074), which makes total sense. The problem is that if a durable subscription is created, closed (not unsubscribed) we have no means for recovering that clientID, and therefore purging that durable interest.

It would be nice if the monito

[2018-02-14 21:33] sega-yarkin opened #474 "Segmentation violation in cluster mode and latest docker container"
Hi guys!
I've just tested latest version of NATS Streaming in cluster mode with 3 nodes and got `panic: runtime error: invalid memory address or nil pointer dereference`.

My steps:
1) Create 3 data directories (`srv1`, `srv2`, `srv3`)
2) Put simple `nats.conf` in each data directory (ports end with 1, 2 and 3 respectively):
[code]
3) Start 3 docker containers:
`docker container run -it --name nat

[2018-02-14 21:51] kozlovic commented on #474
@sega-yarkin You should not set `bootstrap` to true! You are basically making all cluster nodes the leader. The first thing I noticed is when you stated that each node was containers started to report `Error replicating message for subject`. Only 1 node (the leader) should ever report that since only the leader should be replicating.
Also, the datastore should not be shared by these 3 instances, a

[2018-02-15 11:54] AshfordN commented on #467
Yeah it works! Thanks

[2018-02-15 14:29] sega-yarkin commented on #474
@kozlovic If we have empty data directory we can not start first node, but it has looked working when all nodes have this flag. Now I have the flag only for first node (every test I start with empty data directories), but nothing changed: every nodes got `invalid memory address or nil pointer dereference` in 10-15 minutes after test is started. Every container has own data directory, nothing is sh

[2018-02-15 16:06] #467 closed

[2018-02-15 16:24] kozlovic commented on #474
There is definitively and issue, several even. But having more than one node with the `-cluster_bootstrap` is a misconfiguration. The doc [here](https://github.com/nats-io/nats-streaming-server#clustering-auto-configuration) states that only 1 node (the seed) should have this set.
I probably need to make this more obvious in the doc and maybe add some defensive code in the server to try to detect

[2018-02-16 03:01] kozlovic commented on #474
@sega-yarkin Just an update that I have made some progress and may have a PR sometime tomorrow.

[2018-02-16 19:45] kozlovic opened #476 "Make it clear that cluster_bootstrap must be used on only 1 node"
The documentation states that this should be used for the "seed" node. But make it clear that it will cause problems if more than one node start with empty state and this flag set to true.

Also see if some defensive code can be added to the server to try detect that and report misconfiguration.

[2018-02-17 03:38] #472 closed

[2018-02-20 20:03] #474 closed

[2018-02-20 20:55] kozlovic opened #481 "Streaming servers with different cluster ID unable to be started in same NATS network"
Say you have 2 nodes in same cluster (one was started with bootstrap). If you were to start a third server in the same NATS cluster/network, but with a different cluster name, it should not be joining the 2 first servers, and if not started with bootstrap should actually fail to start after few seconds.

[2018-02-20 23:17] #481 closed

[2018-02-21 00:54] #476 closed

[2018-02-21 21:41] kozlovic opened #485 "Remove import for SQL drivers from Store.go"
This causes issues for users that import NATS Streaming server code in their app and also import the SQL drivers.

Thanks to @vpol for the report.

[2018-02-21 21:59] #485 closed

[2018-02-22 10:39] cemremengu opened #487 "Admin UI"
Any plans for an admin UI? I checked but dont think any community projects exists as well.

I like NATS but kind of feel in the dark without a control/admin panel :thinking:  Even something simple would be great.

[2018-02-22 10:41] cemremengu opened #488 "Production readiness"
Is nats-streaming-server considered production ready yet?

I know its still in 0.x but looks solid to me so far.

[2018-02-22 13:04] cemremengu commented on #487
Just discovered `nats-top` which should be enough for most purposes

[2018-02-22 13:04] #487 closed

[2018-02-22 16:19] kozlovic commented on #487
As discussed in Slack, yes, `nats-top` can help but it is more geared toward NATS core. Please have a look at monitoring endpoints for NATS Streaming. Here is the link to the doc in the README: https://github.com/nats-io/nats-streaming-server#monitoring

[2018-02-22 16:21] kozlovic commented on #488
It is being used in production already by various users. You may find some posts from users in our blog interesting: https://nats.io/categories/community/

The clustering feature is currently beta. I have received some feedback reports and fixed some bugs. I may soon merge the PR about channel deletion and make a new release removing the beta status for clustering.

[2018-02-22 16:21] #488 closed

[2018-02-23 21:25] splilly1987 opened #489 "Streaming server not storing persistent data"
Hello,

I have nats-streaming-server 0.7.0-linux docker image up and running with the following: (consul, nomad and docker)

[code]

I use go-nats examples scripts nats-{pub, sub}.go to test that data is flowing and it does as it should. But when I go to /streaming/storez, total_bytes is empty and so is the datastore location. Only thing there is the {client, server}.dat and the lock file.

Here i

[2018-02-23 21:40] kozlovic commented on #489
What are the hosts where the nats streaming servers are running?
Your test with nats-pub just shows that you were able to connect to host: `nats://nats-streaming-cluster.service.core.consul:4223`. It does not say much about the connectivity in the NATS cluster (assuming that you have the 3 nodes running).
The streaming pub sub you are running connect to `nats://nats-streaming-cluster-1.service.cor

[2018-02-23 22:44] splilly1987 commented on #489
Thanks for responding so quickly!

Yes with the use of consul, I'm using its load balancing in to present nats:4223 (production server is using 4222 on these hosts which is also experiencing the issue). The routing on the backend seams to be working properly. I have no problem re-configuring everything, as I just need this to be working as designed.

Using go-nats, I'm able to publish and via an a

[2018-02-23 22:55] splilly1987 commented on #489
The production server is a standalone server that has been running for weeks. That server is not showing data being stored in the store:

[code]

But data is flowing.

[2018-02-23 22:55] kozlovic commented on #489
I cannot say if the configuration is correct since you posted only 1 config, and I have no idea the hostname where the nodes are running.

Data sent with go-nats does NOT go to the NATS Streaming server. You need to use the streaming API for that. And as seen in your previous test, the streaming clients are not able to get a connection to the streaming server.

Have you deployed a NATS cluster sep

[2018-02-23 22:57] kozlovic commented on #489
Regarding your last update, I think you are making a big mistake assuming that NATS messages are processed by NATS Streaming. They are simply processed by the embedded NATS Server, but not by the streaming server. Please read: https://github.com/nats-io/nats-streaming-server#concepts

[2018-02-23 22:57] splilly1987 commented on #489
Configuration of the standalone:

[code]

Using embedded nats server

[2018-02-23 23:03] splilly1987 commented on #489
Is it possible to see an example of a working 3 server configuration of nats-streaming-server and how to test data flow?

[2018-02-23 23:24] kozlovic commented on #489
Could it be that you are simply hitting one of the FT standby server with the monitoring port? You would need to reach the active server to see that messages are stored. The FT standbys have not access to the store (until they become active).

[2018-02-23 23:27] kozlovic commented on #489
Check the `streaming/serverz` endpoint. It will give you the state. If you are connected to the active, it should say `FT_ACTIVE`, otherwise it will say `FT_STANDBY`.

[2018-02-23 23:34] splilly1987 commented on #489
I checked all 3, the FT_ACTIVE and the FT_STANDBY.

Lets step back and just look at the the single standalone instance of nats-streaming-server.

Using 0.7.0-linux, these are the command-line arguments passed when starting the container:

[code]

There should not be any communication issues as it should be utilizing its embedded nats server. This standalone is not storing data.

[2018-02-23 23:44] kozlovic commented on #489
Something is wrong in your environment, but don't know what.
[code]
Send a message
[code]
Server log updated:
[code]
Checking the `storez` endpoint:
[code]

[2018-02-26 15:05] splilly1987 commented on #489
I've gotten it to work with the stan-pub. I now see the bytes and msgs count to 1 (only sent 1). I was doing test_cluster instead of test-cluster. So both my standalone and cluster are configured at least good enough for this to work.

We use telegraf to move our data around. We have been moving data to and from Nats Server to this point (using the nats-streaming image). I'm guessing Telegraf is n

[2018-02-26 15:11] ripienaar commented on #489
NATS Streaming and NATS have entirely different APIs, they are effectively different products.

Telegraf would need a new output plugin that supports Streaming.

[2018-02-26 16:12] kozlovic commented on #489
@splilly1987 I am usually good at spotting those (mismatch of cluster name)... sorry I did not catch that earlier. As @ripienaar mentioned, NATS and NATS Streaming use different APIs (and libraries). For a message to be processed by NATS Streaming, it needs to be sent using the NATS Streaming client library, not NATS library. Hope this helps.